Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

add fields for je creation
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add import
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

fix import
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Fixed `farm` project name
  .github/workflows/buf_build_n_push.yml
Owners: @Kyosk-Digital/data-team

Fixed `farm` project name
  kyosk-farm/gen/java-src/build.gradle.kts
Owners: @Kyosk-Digital/data-team

fix number
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add two more enum fields
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

add two more enum fields
  retail_exp/protos/promotion/discount/v1/promotion.proto
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Added territory id to wallet
  payments/protos/payments/wallet/v1/wallet.proto
Owners: @Kyosk-Digital/payments-squad

created by
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

.
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

include more fields
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

Add audit action enum
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

accept customer payment, have default unspecified
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
Owners: @Kyosk-Digital/payments-squad

adding territory id
  payments/protos/payments/payment_request/v1/payment_request.proto
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

Added territory_id to WalletBookingRequest
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

updates
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add JE and PE service endpoints
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
  payments/protos/erpnext/journal_entry/v1/service.proto
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
  payments/protos/erpnext/payment_entry/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Refactor the journal_entry import statement
  payments/protos/erpnext/journal_entry/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Remove redundant territory_id
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add wallet owner erp id to wallet
  payments/protos/payments/wallet/v1/wallet.proto
Owners: @Kyosk-Digital/payments-squad

Clean up approval
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

Promotion approval
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

add more fields to enable PE creation from wallet svc
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Track approval stage
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

Approval response
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add additonal fields for catalog
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

Request to Register Agent and FTL
  .github/workflows/buf_build_n_push.yml
  farm/protos/sourcing/v1/agent.proto
  farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update service.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update service.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

sort imports
  kyosk-farm/protos/sourcing/v1/service.proto
  kyosk-farm/protos/util/v1/common.proto
Owners: @Kyosk-Digital/data-team

fixed imports
  kyosk-farm/protos/sourcing/v1/service.proto
  kyosk-farm/protos/util/v1/common.proto
Owners: @Kyosk-Digital/data-team

Added is_karuru_territory flag and activate territory rpc to OF territory
  order_fulfillment/protos/warehousing/territory/v1/service.proto
  order_fulfillment/protos/warehousing/territory/v1/territory.proto
Owners: @Kyosk-Digital/of_squad

add platform dependacies
  kyosk-farm/protos/buf.lock
  kyosk-farm/protos/buf.yaml
Owners: @Kyosk-Digital/data-team

added platform deps
  kyosk-farm/protos/buf.lock
  kyosk-farm/protos/buf.yaml
Owners: @Kyosk-Digital/data-team

Build catalog
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
Owners: @Kyosk-Digital/retail-experience

refactor farm DP
  kyosk-farm/gen/java-src/build.gradle.kts
  kyosk-farm/gen/java-src/data/build.gradle.kts
  kyosk-farm/gen/java-src/settings.gradle.kts
  kyosk-farm/gen/java-src/testData/build.gradle.kts
  kyosk-farm/protos/buf.yaml
  kyosk-farm/protos/sourcing/v1/agent.proto
  kyosk-farm/protos/sourcing/v1/farm_common.proto
  kyosk-farm/protos/sourcing/v1/farmer.proto
  kyosk-farm/protos/sourcing/v1/produce.proto
  kyosk-farm/protos/sourcing/v1/produce_collection.proto
  kyosk-farm/protos/sourcing/v1/service.proto
  kyosk-farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

create RPC to sync OMS warehouse stock with ERP stock
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Update buf.lock
  kyosk-farm/protos/buf.lock
Owners: @Kyosk-Digital/data-team

Update agent.proto
  kyosk-farm/protos/sourcing/v1/agent.proto
Owners: @Kyosk-Digital/data-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
