Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

update ignore in buf.yaml
  vas/protos/buf.yaml
Owners: @Kyosk-Digital/data-team

update ignore in buf.yaml
  vas/protos/buf.yaml
Owners: @Kyosk-Digital/data-team

remove ignore file paths in lint property
  vas/protos/buf.yaml
Owners: @Kyosk-Digital/data-team

Add bin test proto
  erpnext/protos/stock/bin/v1/bin_test.proto
Owners: @Kyosk-Digital/ibs-squad

Update bin
  erpnext/protos/stock/bin/v1/bin_test.proto
Owners: @Kyosk-Digital/ibs-squad

Update bin
  erpnext/protos/stock/bin/v1/bin_test.proto
Owners: @Kyosk-Digital/ibs-squad

Update bin
  erpnext/protos/stock/bin/v1/bin_test.proto
Owners: @Kyosk-Digital/ibs-squad

credit proto
  payments/protos/credit/credit/v1/credit.proto
  payments/protos/payment_integrations/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

a
  payments/protos/credit/credit/v1/service.proto
  payments/protos/credit/financier/v1/financier.proto
  payments/protos/credit/financier/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add expired to STK push
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

Add a fetch day config rpc call
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Re-order field numbers
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

adding customer def
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

adding convenience method for fetching customer wallet
  payments/protos/payments/wallet/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

stop using stream in this case coz of horizontal scaling
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

modified the service
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

set mpesa code in stk message
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

add id field to mpesa deposit
  payments/protos/payment_integrations/mpesa/v1/mpesa.proto
Owners: @Kyosk-Digital/payments-squad

Add user wallet def
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

change phone number
  payments/protos/payment_integrations/mpesa/v1/mpesa.proto
Owners: @Kyosk-Digital/payments-squad

Add Tax Invoice
  ibs/protos/tax/fiscalreceipt/v1/fiscalreceipt.proto
  ibs/protos/tax/tax_invoice/v1/tax_invoice.proto
Owners: @Kyosk-Digital/ibs-squad

Add karuru field
  erpnext/protos/accounts/sales_invoice/v1/sales_invoice.proto
Owners: @Kyosk-Digital/ibs-squad

restructuring warehousing
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
  order_fulfillment/protos/warehousing/warehouse/v1/warehouse.proto
Owners: @Kyosk-Digital/of_squad

refactor wh
  order_fulfillment/protos/warehousing/fulfillment_center/v1/fulfillment_center.proto
  order_fulfillment/protos/warehousing/fulfillment_center/v1/service.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
  order_fulfillment/protos/warehousing/warehouse/v1/service.proto
Owners: @Kyosk-Digital/of_squad

refactor driver
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer_test.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

refactoring warehousing data products
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/warehousing/fulfillment_center/v1/fulfillment_center.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
  order_fulfillment/protos/warehousing/stock/v1/stock_level.proto
  order_fulfillment/protos/warehousing/stock/v1/stock_level_test.proto
  order_fulfillment/protos/warehousing/stock_balance/v1/stock_balance.proto
  order_fulfillment/protos/warehousing/stock_ledger/v1/stock_ledger.proto
  order_fulfillment/protos/warehousing/stock_ledger/v1/stock_ledger_test.proto
  order_fulfillment/protos/warehousing/warehouse/v1/warehouse.proto
Owners: @Kyosk-Digital/of_squad

adding notes
  order_fulfillment/protos/warehousing/stock_balance/v1/service.proto
  order_fulfillment/protos/warehousing/stock_movement/v1/service.proto
  order_fulfillment/protos/warehousing/stock_movement/v1/stock_movement.proto
  order_fulfillment/protos/warehousing/stock_movement/v1/stock_movement_test.proto
Owners: @Kyosk-Digital/of_squad

Sales order cleanup
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

add primary id
  order_fulfillment/protos/warehousing/fulfillment_center/v1/fulfillment_center.proto
Owners: @Kyosk-Digital/of_squad

adding country code to FC
  order_fulfillment/protos/buf.lock
  order_fulfillment/protos/warehousing/fulfillment_center/v1/fulfillment_center.proto
  platform/protos/common/shared/v1/shared.proto
Owners: @Kyosk-Digital/of_squad, @Kyosk-Digital/data-team

add country to FC
  order_fulfillment/protos/warehousing/fulfillment_center/v1/fulfillment_center.proto
Owners: @Kyosk-Digital/of_squad

Sales order cleanup
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Sales order cleanup
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

Sales order cleanup
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Sales order cleanup
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

adding out of stock
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
Owners: @Kyosk-Digital/of_squad

add TillTransaction data
  payments/protos/payment_integrations/mpesa/v1/mpesa.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

remove rpc with un-found request
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add logo
  payments/protos/configurations/payment_config/v1/payment_config.proto
Owners: @Kyosk-Digital/payments-squad

fix lint issues with credit and mpesa packages
  payments/protos/credit/credit/v1/service.proto
  payments/protos/credit/financier/v1/financier.proto
  payments/protos/credit/financier/v1/service.proto
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad
