Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

Query Delivery Locations by ID
  retail_exp/protos/market_mgt/delivery_location/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add service methods in Delivery Windows
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Add fields
  retail_exp/protos/market_mgt/delivery_location/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

add loan offer response
  vas/protos/agency_banking/tanda/v1/agent.proto
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add loan offer response
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

add loan offer response
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Add fields
  retail_exp/protos/market_mgt/customer_draft/v1/customer_draft.proto
  retail_exp/protos/market_mgt/delivery_location/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Added paymentConfig test data product
  payments/protos/configurations/payment_config/v2/payment_config_test.proto
Owners: @Kyosk-Digital/payments-squad

Changed variable name to snake case
  payments/protos/configurations/payment_config/v2/payment_config_test.proto
Owners: @Kyosk-Digital/payments-squad

Changed variable name to snake case
  payments/protos/configurations/payment_config/v2/payment_config_test.proto
Owners: @Kyosk-Digital/payments-squad

Changed variable name to snake case
  payments/protos/configurations/payment_config/v2/payment_config_test.proto
Owners: @Kyosk-Digital/payments-squad

Add fields
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/utils/v1/contact.proto
  retail_exp/protos/utils/v1/document.proto
Owners: @Kyosk-Digital/retail-experience

Add fields
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Create approval service
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

unused imports
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

adding outlet type id for customers opted in
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

Rename method
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Rename approval Stage
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Update update agent data product
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

Update update agent data product
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

added penalty fee percentage on outlet payment configurations
  payments/protos/configurations/payment_config/v2/outlet_payment_configuration.proto
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

outletIdapprroval
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

approver updates
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Test generic ApiResponse
  order_fulfillment/protos/common/api_response/v1/api_response.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Test generic ApiResponse
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Rename ApiResponse to GrpcResponse
  order_fulfillment/protos/common/grpc_response/v1/grpc_response.proto
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Adopt GrpcResponse in Delivery Windows & Delivery Window Configs
  order_fulfillment/protos/common/entity_id/v1/entity_id.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

added dn bulk update command
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add fields
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/market_mgt/retailer/v1/retailer.proto
Owners: @Kyosk-Digital/retail-experience

Rename `regenerateDeliveryWindowsXXX` to `generateDeliveryWindowsXXX`
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Add fields
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Change Any to repeated
  order_fulfillment/protos/common/grpc_response/v1/grpc_response.proto
Owners: @Kyosk-Digital/of_squad

added outlet type and financier object on credit and credit limits data product
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

add GetPezeshaCreditTransactions dp
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Add Kyosk Feedback proto file
  erpnext/protos/kyosk/kyosk_feedback/v1/kyosk_feedback.proto
Owners: @Kyosk-Digital/ibs-squad

add success error fields
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

fix same tag error
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

fix datatype error
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

fix ordering error
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Add rpc method
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
