Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

updated country_code variable name
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

updated country_code variable name
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

added additional fields
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Settlement reply for wallet booking request
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

settlement reply for wallet booking request
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

adding mtn to payment channel
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

add audit and credit terms to credit dp
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

fix structure
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

fix structure
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

fix structure
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

Add territory_id on CreateCommand
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle licence plate to Driver
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
Owners: @Kyosk-Digital/of_squad

Adding mtn mongodb DP
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Update service.proto
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add payment purpose
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

fix mtn import
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Add user login to retailer
  retail_exp/protos/market_mgt/retailer/v1/retailer.proto
Owners: @Kyosk-Digital/retail-experience

added extra fields to kyc data output
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Add order code filter
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

added extra fields to kyc data output 1
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

add financier name
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
Owners: @Kyosk-Digital/payments-squad

add credit principal type
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
Owners: @Kyosk-Digital/payments-squad

removed some messages, BiCarType, BiVehicleType from the bi_delivery_trip
  bi/protos/dispatch/bi_delivery_trip/v1/bi_delivery_trip.proto
Owners: @Kyosk-Digital/data-team

added route_assignment_id field to the bi_outlet
  bi/protos/market_mgt/bi_outlet/v1/bi_outlet.proto
Owners: @Kyosk-Digital/data-team

Refactored data product for wallet correction
  payments/protos/payments/wallet_correction/v1/service.proto
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

Added auth token
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

lower snake case auth token
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

Update payment_entry.proto
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

Refactored wallet correction
  payments/protos/payments/wallet_correction/v1/service.proto
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

Renamed a field in wallet correction request
  payments/protos/payments/wallet_correction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Added missing import statement
  payments/protos/payments/wallet_correction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Update journal_entry.proto
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
Owners: @Kyosk-Digital/payments-squad

Update journal_entry.proto
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
Owners: @Kyosk-Digital/payments-squad

Refactored and add new service for wallet correction
  payments/protos/payments/wallet_correction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Update journal_entry.proto
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
Owners: @Kyosk-Digital/payments-squad

Market Filter
  retail_exp/protos/market_mgt/market/v1/market.proto
Owners: @Kyosk-Digital/retail-experience

Update payment_entry.proto
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

Update payment_entry.proto
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

Add stocking uom
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
  order_fulfillment/protos/warehousing/stock_movement/v1/stock_movement.proto
Owners: @Kyosk-Digital/of_squad

Add Greater Than or Equal and Less Than or Equal operators
  retail_exp/protos/utils/v1/queryoperator.proto
Owners: @Kyosk-Digital/retail-experience
