Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

Assign route to Market developer
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
Owners: @Kyosk-Digital/retail-experience

Add window_config_id to DeliveryWindow
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

rename field
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
Owners: @Kyosk-Digital/retail-experience

Add window_config_id to DeliveryWindow and service
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Add create rpc methods to delivery window v2
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Add deactivate to delivery window v2
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

added string margin_type = 18; field to bi sales invoice proto
  bi/protos/erpnext/bi_sales_invoice/v1/bi_sales_invoice.proto
Owners: @Kyosk-Digital/data-team

- Add common lib dep
  bi/protos/buf.yaml
Owners: @Kyosk-Digital/data-team

- Fix dep issues
  bi/protos/buf.lock
  bi/protos/payments/bi_payment_request/v1/bi_payment_request.proto
Owners: @Kyosk-Digital/data-team

- FIx
  bi/protos/buf.lock
Owners: @Kyosk-Digital/data-team

- lock
  bi/protos/buf.lock
Owners: @Kyosk-Digital/data-team

Fix update rpc for delivery window v2
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Add kyosk outlet type
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

added bi vas data product for kyosk_kyc
  bi/protos/vas/bi_kyosk_kyc/v2/bi_kyc.proto
Owners: @Kyosk-Digital/data-team

Outlet category
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/market_mgt/outlet_category/v1/outlet_category.proto
  retail_exp/protos/market_mgt/outlet_category/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Rename rpc to OutletCategoryService
  retail_exp/protos/market_mgt/outlet_category/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add category to customer create & update
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add activate action to delivery window v2
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Add duplication field to delivery window v2
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Add timezone to window config
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/territory_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/window_config.proto
Owners: @Kyosk-Digital/of_squad

Revert "Add timezone to window config"
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/territory_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/window_config.proto
Owners: @Kyosk-Digital/of_squad

Revert "Add duplication field to delivery window v2"
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Revert "Add activate action to delivery window v2"
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Delivery window v2 DeliveryWindowUpdateCmd
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Delivery window v2 DeliveryWindowUpdateCmd
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/territory_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/window_config.proto
Owners: @Kyosk-Digital/of_squad

added bnpl credit
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

added bnpl credit
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

added bnpl credit and back id
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Rename dispatch and warehouse rpc methods
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
  order_fulfillment/protos/dispatch/driver/v1/service.proto
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
  order_fulfillment/protos/dispatch/service_provider/v1/provider.proto
  order_fulfillment/protos/dispatch/vehicle/v1/service.proto
  order_fulfillment/protos/dispatch/vehicle_type/v1/service.proto
  order_fulfillment/protos/warehousing/fulfillment_center/v1/service.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
  order_fulfillment/protos/warehousing/stock_balance/v1/service.proto
  order_fulfillment/protos/warehousing/stock_movement/v1/service.proto
  order_fulfillment/protos/warehousing/territory/v1/service.proto
  order_fulfillment/protos/warehousing/warehouse/v1/service.proto
Owners: @Kyosk-Digital/of_squad

add fields
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

Remove the `sent_via_api` to the `sent_via_temporal_siganl` fields in the `CashCollection` DP
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

Add back fetch method for DeliveryNote Data product
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add back rpc method for DeliveryNote Data product
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add target allocation and Produce collection
  kyosk-farm/protos/sourcing/v1/agent.proto
  kyosk-farm/protos/sourcing/v1/farm_common.proto
  kyosk-farm/protos/sourcing/v1/service.proto
  kyosk-farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

Added service to terminate transactionBooking workflow
  payments/protos/payments/wallet_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

added get kyc for phone number
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

added get kyc for phone number
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

added get kyc for phone number1
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Update DN and DN serveice, add cancellation reason
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

addition of smile id callback dp
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
