Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

Update RT and SO dps
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

Update RT and SO dps
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

Add an image url and co-ordinates to the delivery note
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

Add outlet field to cart
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

updates
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

Update method with correct name
  retail_exp/protos/market_mgt/sale_district_assignment_history/v1/sale_district_assignment_history.proto
Owners: @Kyosk-Digital/retail-experience

add total_records for credit limit records and credit records
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Add `purchase_invoice.proto` and `purchase_receipt.proto`
  erpnext/protos/accounts/purchase_invoice/v1/purchase_invoice.proto
  erpnext/protos/stock/purchase_receipt/v1/purchase_receipt.proto
Owners: @Kyosk-Digital/ibs-squad

refactor dataproduct
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Update field type
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
Owners: @Kyosk-Digital/retail-experience

updates
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
Owners: @Kyosk-Digital/retail-experience

updates
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Changing Transaction status enum
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Add a failure reaso field
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add an rpc to fetch movement status
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

adding routename and marketname to fetch paginatedcustomers
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add market details
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Added two more fields to walletcorrection
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

Update dps to support new auth admin/bff flows
  common-services/protos/auth/authorization/permission/v1/permission.proto
  common-services/protos/auth/authorization/permission/v1/permission_bit.proto
  common-services/protos/auth/authorization/permission/v1/service.proto
  common-services/protos/auth/oauth2_client/v1/oauth2_client.proto
  common-services/protos/buf.lock
Owners: @Kyosk-Digital/data-team

use UNSPECIFIED instead of UNKNOWN for 0 enum
  common-services/protos/auth/authorization/permission/v1/permission_bit.proto
Owners: @Kyosk-Digital/data-team

adding Id field to response
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Update delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Update delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

added delivery_date to the BIDelivery_Window Data Product
  bi/protos/dispatch/bi_delivery_note/v1/bi_delivery_note.proto
Owners: @Kyosk-Digital/data-team

added delivery_window data product to the BI Sales Order
  bi/protos/sales/bi_sale_order/v1/bi_sale_order.proto
Owners: @Kyosk-Digital/data-team

Change conversion factor from int32 to float
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

add ref
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

updates
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

Added fields to wallet correction
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

Rearrange wallet correction tags
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

add blocked status, use whole financier object
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

""
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

adding change RPC query params
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Addd field state to transaction and wallet
  payments/protos/payments/wallet/v1/wallet.proto
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Removed field state from wallet and wallet transaction
  payments/protos/payments/wallet/v1/wallet.proto
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

removed unnecessary fields from the BI Sales Invoice data product
  bi/protos/erpnext/bi_sales_invoice/v1/bi_sales_invoice.proto
Owners: @Kyosk-Digital/data-team

update kyc fields
  vas/protos/kyosk_kyc/kyc/v1/kyc.proto
Owners: @Kyosk-Digital/data-team

update all variables to snake case
  vas/protos/kyosk_kyc/kyc/v1/kyc.proto
Owners: @Kyosk-Digital/data-team

update enum KYCStatus to have numeric value of 0
  vas/protos/kyosk_kyc/kyc/v1/kyc.proto
Owners: @Kyosk-Digital/data-team

fix Error: duplicate symbol
  vas/protos/kyosk_kyc/kyc/v1/kyc.proto
Owners: @Kyosk-Digital/data-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
