Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

Remove walletOwnerName & marketId from wallet service proto
  payments/protos/payments/wallet/v1/wallet.proto
Owners: @Kyosk-Digital/payments-squad

Add a processed state to the delivery trip
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

- Fix dir bug
  scripts/git-cmds.ts
Owners: @Kyosk-Digital/data-team

added number of days to repay credit after approval
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Update driver.proto
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
Owners: @Kyosk-Digital/of_squad

Update service.proto
  order_fulfillment/protos/dispatch/driver/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Update Driver Service service.proto
  order_fulfillment/protos/dispatch/driver/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Fix misleading comment in `payment_request.proto`
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

Add discount price
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add assignment id
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add an rpc to stream error logs
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add an rpc to stream error logs and one to generate driver returns
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Fix linting issues
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Update outelet and sales order
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Update outelet and sales order
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Update outelet and sales order
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Change RPC response to update command
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Change on_trip to bool
  order_fulfillment/protos/dispatch/driver/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Update outelet and sales order
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Remove used dps
  retail_exp/protos/market_mgt/market_developer/v1/market_developer.proto
  retail_exp/protos/market_mgt/market_developer/v1/market_developer_test.proto
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
  retail_exp/protos/market_mgt/sale_district_assignment_history/v1/sale_district_assignment_history.proto
  retail_exp/protos/market_mgt/sales_supervisor/v1/sales_supervisor.proto
  retail_exp/protos/market_mgt/sales_supervisor/v1/sales_supervisor_test.proto
Owners: @Kyosk-Digital/retail-experience

Remove used dps
  retail_exp/protos/sales/order_catalog/v1/order_catalog.proto
Owners: @Kyosk-Digital/retail-experience

Add customer erp id
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

adding paybillInfo and account_reference to stk data-product
  payments/protos/payment_integrations/mpesa/v1/paybill_service.proto
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

Change status field from enum to boolean
  retail_exp/protos/buf.lock
  retail_exp/protos/market_mgt/market/v1/market.proto
  retail_exp/protos/market_mgt/market/v1/market_test.proto
Owners: @Kyosk-Digital/retail-experience

Added country to service provider
  order_fulfillment/protos/dispatch/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/of_squad

Update service_provider.proto
  order_fulfillment/protos/dispatch/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/of_squad

Add `territory_number` to `territory.proto`
  erpnext/protos/setup/territory/v1/territory.proto
Owners: @Kyosk-Digital/ibs-squad

Add customer erp id
  retail_exp/protos/buf.lock
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add update customer request
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add update customer request
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

updated assignment request
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/driver_vehicle_assignment.proto
Owners: @Kyosk-Digital/of_squad

Add update customer request
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add customer ERP id
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

added financier and credit type
  payments/protos/credit/credit/v1/credit.proto
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
  payments/protos/credit/financier/v1/financier.proto
Owners: @Kyosk-Digital/payments-squad

Update delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

update vehicle
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
Owners: @Kyosk-Digital/of_squad

update vehicle
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
Owners: @Kyosk-Digital/of_squad

updated assignment criteria
  order_fulfillment/protos/dispatch/driver/v1/service.proto
Owners: @Kyosk-Digital/of_squad

added settlement type
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

Add `company_id` to `territory.proto`
  erpnext/protos/setup/territory/v1/territory.proto
Owners: @Kyosk-Digital/ibs-squad
