Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

fetch stk/till transaction status
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

add driver cash payments class
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

adding FC query by territory
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/warehousing/fulfillment_center/v1/fulfillment_center.proto
  order_fulfillment/protos/warehousing/fulfillment_center/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Adding dimenstions
  platform/protos/common/shared/v1/dimension.proto
Owners: @Kyosk-Digital/data-team

saving dimensions
  retail_exp/protos/buf.lock
  retail_exp/protos/buf.yaml
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

setting up dimensions in product bundles
  erpnext/protos/buf.lock
  erpnext/protos/buf.yaml
  erpnext/protos/selling/product_bundle/v1/product_bundle.proto
Owners: @Kyosk-Digital/ibs-squad

adding dimensions to DN
  order_fulfillment/protos/buf.lock
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

add precomputed fields to dimensions
  platform/protos/common/shared/v1/dimension.proto
Owners: @Kyosk-Digital/data-team

update RE dimensions
  retail_exp/protos/buf.lock
Owners: @Kyosk-Digital/retail-experience

updating OF Dimensions
  order_fulfillment/protos/buf.lock
Owners: @Kyosk-Digital/of_squad

prefixing of DPs
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note_test.proto
Owners: @Kyosk-Digital/of_squad

setup delivery windows for RE
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

adding code to FC
  order_fulfillment/protos/warehousing/fulfillment_center/v1/fulfillment_center.proto
Owners: @Kyosk-Digital/of_squad

adding FC to delivery windows
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

add booking and workflow ids
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

updating service to handle trip update
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

adding notes to cmd
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

handle driver update seperate from dispatch update
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

make the Status change field a list
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

Add fields
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

DN amount
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

synchronising country code and currency
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad

updating payments dependencies
  payments/protos/buf.lock
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

adding driver id
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

adding driver id
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

added bi_delivery_windows data product
  bi/protos/dispatch/bi_delivery_windows/v1/bi_delivery_windows.proto
Owners: @Kyosk-Digital/data-team

defined the bi stock balance data product
  bi/protos/warehousing/bi_stock_balance/v1/bi_stock_balance.proto
Owners: @Kyosk-Digital/data-team

Add delivery windows to order_item
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Added narration to wallet booking request
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

adding country code to FC
  demo/protos/of/delivery_trip/v1/delivery_trip.proto
  order_fulfillment/protos/warehousing/fulfillment_center/v1/fulfillment_center.proto
Owners: @Kyosk-Digital/data-team, @Kyosk-Digital/of_squad

Added country to wallet booking request
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Added comments to fields
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add dispatch movement command in movement service
  order_fulfillment/protos/common/kafka_message/v1/kafka_message.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

updating customers credit limit
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add id and unused deposits
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

re-add missing rpc methodsm for driver svc
  order_fulfillment/protos/dispatch/driver/v1/service.proto
Owners: @Kyosk-Digital/of_squad

modified update message for credit limit
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

added erp_id to the bi_outlet data product
  bi/protos/market_mgt/bi_outlet/v1/bi_outlet.proto
Owners: @Kyosk-Digital/data-team

re-add missing rpc methodsm for driver svc
  order_fulfillment/protos/dispatch/driver/v1/service.proto
Owners: @Kyosk-Digital/of_squad

adding driver WH id into the delivery trip
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad
