Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

updates
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

add driver login id
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

add reschedule dn item
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

updated country from using countrId to using country code and added pagination on query promotions
  retail_exp/protos/promotion/discount/v1/promotion.proto
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

add reschedule dn item
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

update DP
  farm/protos/buf.yaml
  farm/protos/sourcing/agent/v1/service.proto
Owners: @Kyosk-Digital/data-team

Create buf.lock
  farm/protos/buf.lock
Owners: @Kyosk-Digital/data-team

Create service.proto
  farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

updated Service
  farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Delete service.proto
  farm/protos/sourcing/agent/v1/service.proto
Owners: @Kyosk-Digital/data-team

add Dataproducts
  farm/protos/sourcing/v1/agent.proto
  farm/protos/sourcing/v1/farmer.proto
  farm/protos/sourcing/v1/produce.proto
  farm/protos/sourcing/v1/produce_collection.proto
  farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

refactor DP
  farm/protos/sourcing/v1/agent.proto
  farm/protos/sourcing/v1/common.proto
  farm/protos/sourcing/v1/farmer.proto
  farm/protos/sourcing/v1/produce.proto
  farm/protos/sourcing/v1/produce_collection.proto
  farm/protos/sourcing/v1/service.proto
  farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

Update agent.proto
  farm/protos/sourcing/v1/agent.proto
Owners: @Kyosk-Digital/data-team

Add proto for publishing to kafka trigger
  order_fulfillment/protos/common/kafka_publish/v1/kafka_publish.proto
Owners: @Kyosk-Digital/of_squad

updated the sourcing services
  farm/protos/sourcing/v1/agent.proto
  farm/protos/sourcing/v1/common.proto
  farm/protos/sourcing/v1/farmer.proto
  farm/protos/sourcing/v1/produce_collection.proto
  farm/protos/sourcing/v1/service.proto
  farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

sync settlement status enum with payments
  order_fulfillment/protos/dispatch/delivery_note/v1/settlement.proto
Owners: @Kyosk-Digital/of_squad

Add endpoint to fetch items on promotion
  retail_exp/protos/promotion/discount/v1/promotion.proto
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add `farm` to directories in github actions
  .github/workflows/buf_build_n_push.yml
Owners: @Kyosk-Digital/data-team

Update Proto adding Imports
  farm/protos/sourcing/v1/agent.proto
  farm/protos/sourcing/v1/farmer.proto
  farm/protos/sourcing/v1/produce.proto
  farm/protos/sourcing/v1/produce_collection.proto
  farm/protos/sourcing/v1/service.proto
  farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

Added rpc for sending a temporal signal
  order_fulfillment/protos/common/workflow/v1/signal.proto
Owners: @Kyosk-Digital/of_squad

remove conflicts
  farm/protos/sourcing/v1/common.proto
  farm/protos/sourcing/v1/farmer.proto
  farm/protos/sourcing/v1/produce_collection.proto
Owners: @Kyosk-Digital/data-team

remove unused imports
  farm/protos/sourcing/v1/common.proto
  farm/protos/sourcing/v1/produce_collection.proto
  farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

Update service.proto
  farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

update
  farm/protos/sourcing/v1/agent.proto
  farm/protos/sourcing/v1/farm_common.proto
  farm/protos/sourcing/v1/farmer.proto
  farm/protos/sourcing/v1/produce_collection.proto
  farm/protos/sourcing/v1/service.proto
  farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

Added rpc for sending a temporal signal. Update service name
  order_fulfillment/protos/common/workflow/v1/signal.proto
Owners: @Kyosk-Digital/of_squad

Dummy commit
  farm/protos/sourcing/v1/farm_common.proto
Owners: @Kyosk-Digital/data-team

Add gradle files
  .gitignore
  farm/gen/java-src/build.gradle.kts
  farm/gen/java-src/data/build.gradle.kts
  farm/gen/java-src/settings.gradle.kts
  farm/gen/java-src/testData/build.gradle.kts
Owners: @Kyosk-Digital/data-team

Dummy commit
  farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

Fixed `farm` project name
  farm/gen/java-src/build.gradle.kts
  farm/gen/java-src/settings.gradle.kts
Owners: @Kyosk-Digital/data-team

change DP name
  .gitignore
  kyosk-farm/gen/java-src/build.gradle.kts
  kyosk-farm/gen/java-src/data/build.gradle.kts
  kyosk-farm/gen/java-src/settings.gradle.kts
  kyosk-farm/gen/java-src/testData/build.gradle.kts
  kyosk-farm/protos/buf.lock
  kyosk-farm/protos/buf.yaml
  kyosk-farm/protos/sourcing/v1/agent.proto
  kyosk-farm/protos/sourcing/v1/farm_common.proto
  kyosk-farm/protos/sourcing/v1/farmer.proto
  kyosk-farm/protos/sourcing/v1/produce.proto
  kyosk-farm/protos/sourcing/v1/produce_collection.proto
  kyosk-farm/protos/sourcing/v1/service.proto
  kyosk-farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

updates to add approval to promotions
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

updates to add approval to promotions
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

updates fields approve and more audit data
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

update or reject flow
  retail_exp/protos/promotion/discount/v1/promotion.proto
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

update or reject flow
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

update or reject flow
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

add customer erp id
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

pointer
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

updates roles
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

add erp id in booking wallet
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad
