Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

deleted kyosk_kyc, which was wrongly created
  bi/protos/kyosk_kyc/bi_kyc/v2/bi_kyc.proto
Owners: @Kyosk-Digital/data-team

added some fields to the by_kyc proto file
  bi/protos/vas/bi_kyosk_kyc/v2/bi_kyc.proto
Owners: @Kyosk-Digital/data-team

modified the package name
  bi/protos/vas/bi_kyosk_kyc/v2/bi_kyc.proto
Owners: @Kyosk-Digital/data-team

added customer_erp_id at the bottom of BISalesOrder object
  bi/protos/sales/bi_sale_order/v1/bi_sale_order.proto
Owners: @Kyosk-Digital/data-team

Update retail exp buf.lock
  retail_exp/protos/buf.lock
Owners: @Kyosk-Digital/retail-experience

update optional status
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

update optional status
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

update optional status
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

update optional status
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

update optional status
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

target allocation proto
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
  kyosk-farm/protos/sourcing/v1/target.proto
  kyosk-farm/protos/target_allocation/v1/service.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

change package name
  kyosk-farm/protos/target_allocation/v1/service.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

add imports
  kyosk-farm/protos/target_allocation/v1/service.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

initial commit for FS-744
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

initial commit for FS-744
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

initial commit for FS-744
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

uodate agency_banking data products
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

added b-_credit data product
  bi/protos/credit/bi_credit/v1/bi_credit.proto
Owners: @Kyosk-Digital/data-team

added bi_credit_transaction data product for reporting
  bi/protos/credit/bi_credit_transaction/v1/bi_credit_transaction.proto
Owners: @Kyosk-Digital/data-team

added bi_financier bi data product
  bi/protos/credit/bi_financier/v1/bi_financier.proto
Owners: @Kyosk-Digital/data-team

update agency_banking data products
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

imported the bi_financier dp to the bi_credit
  bi/protos/credit/bi_credit/v1/bi_credit.proto
Owners: @Kyosk-Digital/data-team

imported the bi_credit_transaction data product
  bi/protos/credit/bi_credit/v1/bi_credit.proto
Owners: @Kyosk-Digital/data-team

renamed PayWtihCreditRequest to BiPayWithCreditRequest
  bi/protos/credit/bi_credit_transaction/v1/bi_credit_transaction.proto
Owners: @Kyosk-Digital/data-team

modified the message in bi_credit_transaction dp
  bi/protos/credit/bi_credit_transaction/v1/bi_credit_transaction.proto
Owners: @Kyosk-Digital/data-team

renamed the BiCreditTerms message
  bi/protos/credit/bi_credit/v1/bi_credit.proto
Owners: @Kyosk-Digital/data-team

removed the shared library import from bi_credit_transaction
  bi/protos/credit/bi_credit_transaction/v1/bi_credit_transaction.proto
Owners: @Kyosk-Digital/data-team

add transfer sku movement id
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
Owners: @Kyosk-Digital/of_squad

Added Upload Agent business documents product
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

added bi_credit_repayments/ and bi_customer_credit_limit/ bi data products
  bi/protos/credit/bi_credit_repayments/v1/bi_credit_repayments.proto
  bi/protos/credit/bi_customer_credit_limit/v1/bi_customer_credit_limit.proto
Owners: @Kyosk-Digital/data-team

add submti application data product
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

add submti application data product
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

add submti application data product
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

add submti application data product
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

add submti application data product
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

added manual credit repayment dataproduct
  payments/protos/payments/manual_credit_repayment/v1/manual_credit_repayment.proto
  payments/protos/payments/manual_credit_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

fixing lint issues
  payments/protos/payments/manual_credit_repayment/v1/manual_credit_repayment.proto
  payments/protos/payments/manual_credit_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

sorting lint issues
  payments/protos/payments/manual_credit_repayment/v1/manual_credit_repayment.proto
  payments/protos/payments/manual_credit_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

added last modified date and narration fields
  payments/protos/payments/manual_credit_repayment/v1/manual_credit_repayment.proto
Owners: @Kyosk-Digital/payments-squad

added manual credit repayment as a settlement in payment request
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad
