Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

Add market activator feature
  retail_exp/protos/market_mgt/market_activator/v1/market_activator.proto
  retail_exp/protos/market_mgt/market_activator/v1/service.proto
  retail_exp/protos/market_mgt/market_activator_assignment/v1/market_activator_assignment.proto
Owners: @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

adding erp id on test data product
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

Add `territory_id` to the `PE` and `JE` DPs
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

Add territoryId to MA
  retail_exp/protos/market_mgt/market_activator/v1/market_activator.proto
  retail_exp/protos/market_mgt/market_activator_assignment/v1/market_activator_assignment.proto
Owners: @Kyosk-Digital/retail-experience

Add market activator
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

include mpesa-territory-id in mpesa
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

Add sales invoice v2 proto file
  erpnext/protos/accounts/sales_invoice/v2/sales_invoice.proto
Owners: @Kyosk-Digital/ibs-squad

update market activator
  retail_exp/protos/market_mgt/market_activator/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

De assign market activator
  retail_exp/protos/market_mgt/market_activator/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add a list of routes to de assign
  retail_exp/protos/market_mgt/market_activator/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add route ids to MA
  retail_exp/protos/market_mgt/market_activator/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

update proto to fit KYC Service Integration
  kyosk-farm/protos/sourcing/v1/agent.proto
  kyosk-farm/protos/sourcing/v1/farm_common.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Add new fields
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

Add new fields
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

Add new fields
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

added verified services fields
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Rename material_request package. Had a typo
  erpnext/protos/stock/material_request/v1/material_request.proto
Owners: @Kyosk-Digital/ibs-squad

add has_v1_credit status on limit
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

Fix linting error in purchase_receipt.proto
  erpnext/protos/stock/purchase_receipt/v1/purchase_receipt.proto
Owners: @Kyosk-Digital/ibs-squad

add protobuf class for kafka comms
  payments/protos/credit/v1_credit/v1/credit_status.proto
Owners: @Kyosk-Digital/payments-squad

include mpesa-territory-id in mpesa
  payments/protos/payment_integrations/mtn/v1/mtn.proto
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Add `territory_id` to the `CachCollection` DPs
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

added service name to getkyc proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

added service name to getkyc proto with service name
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Expired promoion status
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

Add operator NEQ to platform
  platform/protos/common/query/v1/query.proto
Owners: @Kyosk-Digital/data-team

Added `customer.proto`
  erpnext/protos/selling/customer/v1/customer.proto
Owners: @Kyosk-Digital/ibs-squad

added item expired
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

add initiation Time
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

add more timestamps
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

Adjust proto for farmer registration
  kyosk-farm/protos/sourcing/v1/agent.proto
  kyosk-farm/protos/sourcing/v1/farmer.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

add kyc naration
  kyosk-farm/protos/sourcing/v1/agent.proto
  kyosk-farm/protos/sourcing/v1/farmer.proto
Owners: @Kyosk-Digital/data-team

Produce Collection and Target Allocation DP
  kyosk-farm/protos/sourcing/v1/agent.proto
  kyosk-farm/protos/sourcing/v1/farm_common.proto
  kyosk-farm/protos/sourcing/v1/farmer.proto
  kyosk-farm/protos/sourcing/v1/produce.proto
  kyosk-farm/protos/sourcing/v1/produce_collection.proto
  kyosk-farm/protos/sourcing/v1/region.proto
  kyosk-farm/protos/sourcing/v1/service.proto
  kyosk-farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team
