Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

fix the Naming Convention
  kyosk-farm/protos/price_listing/v1/price_listing.proto
  kyosk-farm/protos/price_listing/v1/selling_price.proto
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

add price listing.selling_price imports
  kyosk-farm/protos/price_listing/v1/price_listing.proto
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

remove farm-common imports
  kyosk-farm/protos/price_listing/v1/price_listing.proto
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Add fetch and create customer endpoint
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add fetch and create customer endpoint
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

feat: add new fields to the employee.proto
  erpnext/protos/hr/employee/v1/employee.proto
Owners: @Kyosk-Digital/ibs-squad

Rename `cutoff_time` to `cut_off_time`
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Backward compat changes
  common-services/protos/auth/user/v1/user.proto
  common-services/protos/buf.lock
  common-services/protos/notification/v3/notification.proto
  common-services/protos/notification/v3/notification_type.proto
Owners: @Kyosk-Digital/data-team

payment type on checkout
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

change SalesPrice to BuyingPrice from Farmers perspective
  kyosk-farm/protos/price_listing/v1/buying_price.proto
  kyosk-farm/protos/price_listing/v1/price_listing.proto
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Add `sales_invoice_id` to the credit data product
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

payment type on checkout
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/utils/v1/payment.proto
Owners: @Kyosk-Digital/retail-experience

payment type on checkout
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add `sales_invoice_id` to the payment_request.proto
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

payment type on checkout
  retail_exp/protos/utils/v1/payment.proto
Owners: @Kyosk-Digital/retail-experience

Update price_listing.proto
  kyosk-farm/protos/price_listing/v1/price_listing.proto
Owners: @Kyosk-Digital/data-team

Add fulfilmentCenterId to `CreateZoneCommand`
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add fulfilmentCenterId to `CreateZoneCommand`
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Fix fulfilmentCenterId spelling
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

payment type on checkout
  retail_exp/protos/utils/v1/payment.proto
Owners: @Kyosk-Digital/retail-experience

Change Selling Price to Buying Price
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update tripc create and update cmd
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
Owners: @Kyosk-Digital/of_squad

fix same tag issue
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add prepllanned flag to trip
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

fix same tag issue
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

import payment proto
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add user service methods
  common-services/protos/auth/user/v1/service.proto
Owners: @Kyosk-Digital/data-team

iscreditsale
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

update-bank-details
  payments/protos/credit/bulk_repayment/v1/bank_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Remove deactivate and reactivate features on Zone and DeliveryWindowConfig
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
  order_fulfillment/protos/dispatch/zone/v1/service.proto
  order_fulfillment/protos/dispatch/zone/v1/zone.proto
Owners: @Kyosk-Digital/of_squad

Trigger build
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

updates
  retail_exp/protos/utils/v1/payment.proto
Owners: @Kyosk-Digital/retail-experience

add Loan application response
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add Loan application response
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

- Hotfix - Install corepack@0.24.1
  .github/workflows/buf_build_n_push.yml
Owners: @Kyosk-Digital/data-team

updates to redeploy the service
  retail_exp/protos/utils/v1/payment.proto
Owners: @Kyosk-Digital/retail-experience

Trigger build
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

adding is credit sale field for payment option display purposes
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

added outlet type id and outlet group type
  payments/protos/payment_integrations/mpesa/v1/mpesa.proto
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payments/payment_request/v1/payment_request.proto
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

create due date
  payments/protos/credit/bulk_repayment/v1/bank_transaction.proto
Owners: @Kyosk-Digital/payments-squad
