Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

create RPC to sync OMS warehouse stock with ERP stock
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

adding item net selling amount
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

updates
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

Add payment entry service
  ibs/protos/payments/payment_entry/v1/service.proto
  ibs/protos/tax/sales_receipt/v1/sales_receipt.proto
  ibs/protos/tax/tax_invoice/v1/tax_invoice.proto
Owners: @Kyosk-Digital/ibs-squad

Added territory id to walletbookingrequest
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Add last updated fields to catalog
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
Owners: @Kyosk-Digital/retail-experience

Update buf.yaml
  kyosk-farm/protos/buf.yaml
Owners: @Kyosk-Digital/data-team

Add last updated fields to catalog
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
Owners: @Kyosk-Digital/retail-experience

create cash collection limit config
  payments/protos/configurations/payment_config/v1/payment_config.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

create cash collection limit config
  payments/protos/configurations/payment_config/v1/payment_config.proto
Owners: @Kyosk-Digital/payments-squad

create cash collection limit config
  payments/protos/configurations/payment_config/v1/payment_config.proto
Owners: @Kyosk-Digital/payments-squad

add creation endpoint
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

fix enum
  payments/protos/configurations/payment_config/v1/payment_config.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add imports
  payments/protos/configurations/payment_config/v1/payment_config.proto
Owners: @Kyosk-Digital/payments-squad

- Add Sold On Credit to DN
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

Added `valid_from` in `item_price.proto`
  erpnext/protos/stock/item_price/v1/item_price.proto
Owners: @Kyosk-Digital/ibs-squad

Get Regions and Store Location from ERP
  kyosk-farm/protos/sourcing/v1/agent.proto
  kyosk-farm/protos/sourcing/v1/farm_common.proto
  kyosk-farm/protos/sourcing/v1/region.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update farmer.proto
  kyosk-farm/protos/sourcing/v1/farmer.proto
Owners: @Kyosk-Digital/data-team

remove unused imports
  kyosk-farm/protos/sourcing/v1/farmer.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update region.proto
  kyosk-farm/protos/sourcing/v1/region.proto
Owners: @Kyosk-Digital/data-team

add id field
  payments/protos/configurations/payment_config/v1/payment_config.proto
Owners: @Kyosk-Digital/payments-squad

update the regions proto
  kyosk-farm/protos/sourcing/v1/agent.proto
  kyosk-farm/protos/sourcing/v1/farm_common.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update agent.proto
  kyosk-farm/protos/sourcing/v1/agent.proto
Owners: @Kyosk-Digital/data-team

count for total items in pagination
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

update
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

set up protos for v2 of payment config svc
  payments/protos/configurations/payment_config/v2/cash_collection_limit.proto
  payments/protos/configurations/payment_config/v2/config.proto
  payments/protos/configurations/payment_config/v2/payment_option.proto
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

add imports
  payments/protos/configurations/payment_config/v2/cash_collection_limit.proto
  payments/protos/configurations/payment_config/v2/payment_option.proto
Owners: @Kyosk-Digital/payments-squad

fix version
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

add imports
  payments/protos/configurations/payment_config/v2/payment_option.proto
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

fix versions and types
  payments/protos/configurations/payment_config/v2/payment_option.proto
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

add import
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

remove un-used imports
  payments/protos/configurations/payment_config/v2/cash_collection_limit.proto
  payments/protos/configurations/payment_config/v2/payment_option.proto
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/serviceprovider.proto
Owners: @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

add dn id to credit DP
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

Add service provider service
  retail_exp/protos/market_mgt/service_provider/v1/service.proto
  retail_exp/protos/market_mgt/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/retail-experience

add customer credit repayment entry type
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
Owners: @Kyosk-Digital/payments-squad
