Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

actual methods
  payments/protos/payment_integrations/mpesa/v1/paybill_service.proto
Owners: @Kyosk-Digital/payments-squad

Add cash service file
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

client secret added in client proto
  common-services/protos/auth/oauth2_client/v1/service.proto
Owners: @Kyosk-Digital/data-team

refactor
  common-services/protos/auth/authorization/user_context_role/v1/context_type.proto
  common-services/protos/auth/authorization/user_context_role/v1/service.proto
  common-services/protos/auth/oauth2_client/v1/oauth2_client.proto
  common-services/protos/auth/oauth2_client/v1/service.proto
  common-services/protos/auth/user/v1/service.proto
Owners: @Kyosk-Digital/data-team

encapsulate commands
  common-services/protos/auth/authorization/role/v1/service.proto
  common-services/protos/auth/authorization/role_permission_template/v1/service.proto
  common-services/protos/auth/authorization/user_context_role/v1/service.proto
  common-services/protos/auth/oauth2_client/v1/service.proto
  common-services/protos/auth/user/v1/service.proto
Owners: @Kyosk-Digital/data-team

deposit.proto file
  vas/protos/kyosk_save/deposit/v1/deposit.proto
Owners: @Kyosk-Digital/data-team

update financier crud interface
  payments/protos/credit/financier/v1/financier.proto
  payments/protos/credit/financier/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Update item fulfilment status
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

adding paybill service
  payments/protos/payment_integrations/mpesa/v1/paybill_service.proto
Owners: @Kyosk-Digital/payments-squad

changed the bi_delivery_note based on changes from the oriignal data product
  bi/protos/dispatch/bi_delivery_note/v1/bi_delivery_note.proto
Owners: @Kyosk-Digital/data-team

get added ndovu call back
  vas/protos/kyosk_save/ndovu/v1/ndovu.proto
Owners: @Kyosk-Digital/data-team

get added ndovu call back v2
  vas/protos/kyosk_save/ndovu/v2/ndovu.proto
Owners: @Kyosk-Digital/data-team

changes to ndovu proto
  vas/protos/kyosk_save/ndovu/v2/ndovu.proto
Owners: @Kyosk-Digital/data-team

changes to ndovu proto 2
  vas/protos/kyosk_save/ndovu/v1/ndovu.proto
Owners: @Kyosk-Digital/data-team

changes to ndovu proto 3
  vas/protos/kyosk_save/deposit/v1/deposit.proto
Owners: @Kyosk-Digital/data-team

updated driver - added audit
  order_fulfillment/protos/dispatch/driver/v1/service.proto
  order_fulfillment/protos/dispatch/service_provider/v1/service_provider.proto
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
  order_fulfillment/protos/dispatch/vehicle_type/v1/vehicle_type.proto
Owners: @Kyosk-Digital/of_squad

updated driver - added audit
  order_fulfillment/protos/dispatch/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/of_squad

Add audit to the day config message
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Remove un-used imports
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Add timestamp import
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

add sale_order_id
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

updated dva
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/driver_vehicle_assignment.proto
Owners: @Kyosk-Digital/of_squad

updated date fields
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/driver_vehicle_assignment.proto
  order_fulfillment/protos/dispatch/service_provider/v1/service_provider.proto
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
Owners: @Kyosk-Digital/of_squad

updated date fields
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
Owners: @Kyosk-Digital/of_squad

Add audit on the create and update command
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
Owners: @Kyosk-Digital/of_squad

- Refactor buf publish
  .github/workflows/buf_build_n_push.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  project.json
  scripts/buf-cmds.ts
  scripts/execute-shell-cmd.ts
  scripts/git-cmds.ts
  scripts/index.ts
  scripts/projects.ts
  tsconfig.json
Owners: @Kyosk-Digital/data-team

- update pnpm lock file
  .github/workflows/buf_build_n_push.yml
  pnpm-lock.yaml
Owners: @Kyosk-Digital/data-team

- Bug fix: close if statement
  .github/workflows/buf_build_n_push.yml
Owners: @Kyosk-Digital/data-team

update cash dp
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

- Test new github output format
  scripts/index.ts
Owners: @Kyosk-Digital/data-team

- Update github actions output
  scripts/index.ts
Owners: @Kyosk-Digital/data-team

- Fix publishable
  scripts/index.ts
Owners: @Kyosk-Digital/data-team

- Add platform to list approved for publish
  project.json
Owners: @Kyosk-Digital/data-team

update comments
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

- Move pre-publish check
  .github/workflows/buf_build_n_push.yml
Owners: @Kyosk-Digital/data-team

- Remove check
  .github/workflows/buf_build_n_push.yml
Owners: @Kyosk-Digital/data-team

add wallet id to wallets
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

add country to dp
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

added a credit status
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

add driver name to request
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad
