Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

Cleanup DPs
  payments/protos/payments/wallet/v1/wallet.proto
  payments/protos/payments/wallet_transaction/v1/service.proto
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
  payments/protos/payments/wallet_type/v1/wallet_type.proto
  payments/protos/payments/wallet_type/v1/wallet_type_test.proto
Owners: @Kyosk-Digital/payments-squad

refactor payment request
  payments/protos/buf.lock
  payments/protos/payments/payment_request/v1/payment_request.proto
  payments/protos/payments/payment_request/v1/payment_request_test.proto
  payments/protos/payments/payment_request/v1/service.proto
  payments/protos/payments/payment_request_command/v1/payment_request_command.proto
  payments/protos/payments/payment_request_command/v1/payment_request_command_test.proto
Owners: @Kyosk-Digital/payments-squad

adding async reply channels
  platform/protos/common/general/v1/async.proto
Owners: @Kyosk-Digital/data-team

adding payment channels
  payments/protos/payments/payment_request/v1/payment_request.proto
  payments/protos/payments/payment_request/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

refactor Payment Request Statuses
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

changing structure of payment Request Command
  payments/protos/payments/payment_request/v1/service.proto
  payments/protos/payments/wallet/v1/wallet.proto
Owners: @Kyosk-Digital/payments-squad

change type of amount settled
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

addding id to command
  payments/protos/payments/payment_request/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Update field name
  retail_exp/protos/sales/order_catalog/v1/order_catalog.proto
Owners: @Kyosk-Digital/retail-experience

Add a day config service
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

<KEN-721>-added supplier.proto
  erpnext/protos/buying/supplier.proto
Owners: @Kyosk-Digital/ibs-squad

changing how accounts are created
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

update fields
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

change PR
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

add async reply to wallet
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Added erp test files used by Catalog service
  erpnext/protos/selling/product_bundle/v1/product_bundle_test.proto
  erpnext/protos/setup/item_group/v1/item_group_test.proto
  erpnext/protos/stock/item/v1/item_test.proto
  erpnext/protos/stock/item_price/v1/item_price_test.proto
Owners: @Kyosk-Digital/ibs-squad

<KEN-721>-added sv1 directory
  erpnext/protos/buying/v1/supplier.proto
Owners: @Kyosk-Digital/ibs-squad

<KEN-721>-fixed enum lint errors
  erpnext/protos/buying/v1/supplier.proto
Owners: @Kyosk-Digital/ibs-squad

<KEN-721>-fixed enum lint errors
  erpnext/protos/buying/v1/supplier.proto
Owners: @Kyosk-Digital/ibs-squad

<KEN-721>-added supplier directory
  erpnext/protos/buying/supplier/v1/supplier.proto
Owners: @Kyosk-Digital/ibs-squad

Additional fields for custom requests
  erpnext/protos/selling/product_bundle/v1/product_bundle_test.proto
  erpnext/protos/stock/item/v1/item_test.proto
  erpnext/protos/stock/item_price/v1/item_price_test.proto
Owners: @Kyosk-Digital/ibs-squad

Deleted number_of from product bundles and item proces
  erpnext/protos/selling/product_bundle/v1/product_bundle_test.proto
  erpnext/protos/stock/item_price/v1/item_price_test.proto
Owners: @Kyosk-Digital/ibs-squad

Adding cancel for PR
  payments/protos/payments/payment_request/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

refactoring mpesa DP
  payments/protos/payment_integrations/mpesa/v1/mpesa.proto
  payments/protos/payment_integrations/mpesa/v1/service.proto
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
  payments/protos/payments/wallet/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Buf lint errors resolved for supplier
  erpnext/protos/buying/supplier/v1/supplier.proto
Owners: @Kyosk-Digital/ibs-squad

Add an EXPIRED field on the DN, and a current trip code filter
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

fix test protos
  erpnext/protos/selling/product_bundle/v1/product_bundle_test.proto
  erpnext/protos/stock/item_price/v1/item_price_test.proto
Owners: @Kyosk-Digital/ibs-squad

Added `stock_entry_test.proto`
  erpnext/protos/stock/stock_entry/v1/stock_entry.proto
  erpnext/protos/stock/stock_entry/v1/stock_entry_test.proto
Owners: @Kyosk-Digital/ibs-squad

Fixed `stock_entry_test.proto`
  erpnext/protos/stock/stock_entry/v1/stock_entry_test.proto
Owners: @Kyosk-Digital/ibs-squad

updated payment request test proto
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

adding status to stk push
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

fix linting errors
  vas/protos/buf.lock
  vas/protos/buf.yaml
  vas/protos/kyosk_save/deposit/v1/deposit.proto
  vas/protos/kyosk_save/mpesa/v1/mpesa.proto
  vas/protos/kyosk_save/onboarding/v1/onboarding.proto
  vas/protos/kyosk_save/responses/v1/response.proto
  vas/protos/kyosk_save/user_account/v1/user_account.proto
  vas/protos/kyosk_save/withdrawal/v1/withdrawal.proto
Owners: @Kyosk-Digital/data-team

add safcom unique id
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

fix incorrect import
  vas/protos/kyosk_save/deposit/v1/deposit.proto
  vas/protos/kyosk_save/mpesa/v1/mpesa.proto
  vas/protos/kyosk_save/onboarding/v1/onboarding.proto
  vas/protos/kyosk_save/responses/v1/response.proto
  vas/protos/kyosk_save/user_account/v1/user_account.proto
  vas/protos/kyosk_save/withdrawal/v1/withdrawal.proto
Owners: @Kyosk-Digital/data-team

update response.proto import
  vas/protos/kyosk_save/deposit/v1/deposit.proto
Owners: @Kyosk-Digital/data-team

update package naming
  vas/protos/kyosk_save/deposit/v1/deposit.proto
  vas/protos/kyosk_save/mpesa/v1/mpesa.proto
  vas/protos/kyosk_save/onboarding/v1/onboarding.proto
  vas/protos/kyosk_save/responses/v1/response.proto
  vas/protos/kyosk_save/user_account/v1/user_account.proto
  vas/protos/kyosk_save/withdrawal/v1/withdrawal.proto
Owners: @Kyosk-Digital/data-team

fix unknown response type error
  vas/protos/kyosk_save/deposit/v1/deposit.proto
Owners: @Kyosk-Digital/data-team

add bufignore file
  vas/protos/.bufignore
Owners: @Kyosk-Digital/data-team

add bufbreaking.yaml
  vas/protos/.bufignore
  vas/protos/bufbreaking.yaml
Owners: @Kyosk-Digital/data-team

remove bufbreaking.yaml, update ignore in buf.yaml
  vas/protos/buf.yaml
  vas/protos/bufbreaking.yaml
Owners: @Kyosk-Digital/data-team
