Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

Renamed wallet_to_debit to wallet_to_dr for consitency
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

updated driver
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
Owners: @Kyosk-Digital/of_squad

updated driver
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
Owners: @Kyosk-Digital/of_squad

added pay with credit proto
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
  payments/protos/credit/credit_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

solving lint issue
  payments/protos/credit/credit_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

updating user DP
  common-services/protos/auth/registration/v1/registration.proto
  common-services/protos/auth/registration/v1/service.proto
  common-services/protos/auth/user/v1/service.proto
  common-services/protos/auth/user/v1/user.proto
  common-services/protos/buf.lock
  platform/protos/auth/user/v1/user.proto
  platform/protos/auth/user/v1/user_test.proto
Owners: @Kyosk-Digital/data-team

updating user DP
  platform/protos/auth/user/v1/user1.proto
Owners: @Kyosk-Digital/data-team

added comments
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
  payments/protos/credit/credit_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

added debit from wallet
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Add a driver warehouse id
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

track deposits and cash receipts
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

Added two fields to wallet data product
  payments/protos/payments/wallet/v1/wallet.proto
Owners: @Kyosk-Digital/payments-squad

Add window id to dw request
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

User Create fields
  common-services/protos/auth/user/v1/service.proto
Owners: @Kyosk-Digital/data-team

Multicreate rpc and enhance create cmd
  common-services/protos/auth/user/v1/service.proto
Owners: @Kyosk-Digital/data-team

more endpoints
  common-services/protos/auth/user/v1/service.proto
Owners: @Kyosk-Digital/data-team

minor fix
  common-services/protos/auth/user/v1/service.proto
Owners: @Kyosk-Digital/data-team

create services
  common-services/protos/auth/authorization/permission/v1/permission_bit.proto
  common-services/protos/auth/authorization/role/v1/context_type.proto
  common-services/protos/auth/authorization/role/v1/role.proto
  common-services/protos/auth/authorization/role/v1/service.proto
  common-services/protos/auth/authorization/role_permission/v1/role_permission.proto
  common-services/protos/auth/authorization/role_permission/v1/service.proto
  common-services/protos/auth/registration/v1/registration.proto
  common-services/protos/auth/registration/v1/service.proto
  common-services/protos/auth/user/v1/service.proto
Owners: @Kyosk-Digital/data-team

buf update
  common-services/protos/buf.lock
Owners: @Kyosk-Digital/data-team

Fixed `sales_order_test.proto`
  retail_exp/protos/sales/sales_order/v1/sales_order_test.proto
Owners: @Kyosk-Digital/retail-experience

Fixed comment in `sales_order_test.proto`
  retail_exp/protos/sales/sales_order/v1/sales_order_test.proto
Owners: @Kyosk-Digital/retail-experience

Add more services
  common-services/protos/auth/authorization/role_permission/v1/service.proto
  common-services/protos/auth/oauth2_client/v1/oauth2_client.proto
  common-services/protos/auth/oauth2_client/v1/service.proto
  common-services/protos/buf.lock
Owners: @Kyosk-Digital/data-team

update client service
  common-services/protos/auth/oauth2_client/v1/service.proto
Owners: @Kyosk-Digital/data-team

corrections
  common-services/protos/auth/authorization/role_permission/v1/role_permission.proto
  common-services/protos/auth/authorization/role_permission/v1/service.proto
  common-services/protos/auth/registration/v1/registration.proto
Owners: @Kyosk-Digital/data-team

Force build
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Updates
  common-services/protos/auth/authorization/role_permission_template/v1/role_permission_template.proto
  common-services/protos/auth/authorization/role_permission_template/v1/service.proto
  common-services/protos/auth/authorization/user_context_role/v1/context_type.proto
  common-services/protos/auth/authorization/user_context_role/v1/service.proto
  common-services/protos/auth/authorization/user_context_role/v1/user_context_role.proto
  common-services/protos/auth/registration/v1/service.proto
Owners: @Kyosk-Digital/data-team

rename
  common-services/protos/auth/authorization/user_context_role/v1/service.proto
Owners: @Kyosk-Digital/data-team

added Pay with credit response
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
  payments/protos/credit/credit_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Force build
  retail_exp/protos/buf.lock
Owners: @Kyosk-Digital/retail-experience

checking relative path for credit
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

added credit import
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

added credit import
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

added credit import
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

added credit import
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

added pay with credit response
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Add dw rpc method
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

paybill deactivation/reactivation rpc services
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

adding cash collection status on payment request
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

adding cash collection status
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

paybill_service proto
  payments/protos/payment_integrations/mpesa/v1/paybill_service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad
