Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

adding settlement to DN
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/dispatch/delivery_note/v1/settlement.proto
Owners: @Kyosk-Digital/of_squad

adding Paybill Number DataProduct
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

add paybill information
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

Add a delivery window id to the update dn command
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Update delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

create repayment rpc
  payments/protos/credit/credit/v1/credit.proto
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
  payments/protos/credit/credit_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Update field name
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
Owners: @Kyosk-Digital/retail-experience

add feet type allocation to repayment dp
  payments/protos/credit/credit/v1/credit.proto
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
  payments/protos/credit/credit_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add feet type allocation to repayment dp
  payments/protos/credit/credit/v1/credit.proto
  payments/protos/credit/credit_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

updated service provider to conform with other dp
  order_fulfillment/protos/dispatch/service_provider/v1/service_provider.proto
Owners: @Kyosk-Digital/of_squad

update repayment dp
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
  payments/protos/credit/credit_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Promotions DP
  retail_exp/protos/merchandising/discount_rule/v1/discount_rule.proto
  retail_exp/protos/merchandising/discount_rule/v1/discount_rule_test.proto
  retail_exp/protos/promotions/discount/v1/promotion.proto
  retail_exp/protos/promotions/discount/v1/promotion_test.proto
Owners: @Kyosk-Digital/retail-experience

Promotions service proto file
  retail_exp/protos/promotions/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

updates to vehicle
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
Owners: @Kyosk-Digital/of_squad

update comment
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Promotion lint errors
  retail_exp/protos/promotion/discount/v1/promotion.proto
  retail_exp/protos/promotion/discount/v1/promotion_test.proto
Owners: @Kyosk-Digital/retail-experience

Review changes
  retail_exp/protos/promotion/discount/v1/promotion.proto
  retail_exp/protos/promotion/discount/v1/promotion_test.proto
Owners: @Kyosk-Digital/retail-experience

Add agent name and sale order code to the dn | add vehicle id to the driver proto
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
Owners: @Kyosk-Digital/of_squad

updated namings to conform to other dps
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/assignment.proto
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/driver_vehicle_assignment.proto
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
  order_fulfillment/protos/dispatch/service_provider/v1/provider.proto
  order_fulfillment/protos/dispatch/service_provider/v1/provider_test.proto
  order_fulfillment/protos/dispatch/vehicle/v1/service.proto
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
  order_fulfillment/protos/dispatch/vehicle_type/v1/service.proto
  order_fulfillment/protos/dispatch/vehicle_type/v1/vehicle_type.proto
Owners: @Kyosk-Digital/of_squad

updated dva to add query
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
Owners: @Kyosk-Digital/of_squad

added late fee amount per day and max penalty days
  payments/protos/credit/credit/v1/credit.proto
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Added vehicle on trip
  order_fulfillment/protos/dispatch/vehicle/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle on trip
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Fix linting issues
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Fix linting issues
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Fix linting issues
  order_fulfillment/protos/dispatch/vehicle_type/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Fix linting issues
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Update delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Update vehicle.proto
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
Owners: @Kyosk-Digital/of_squad

Add a DELIVERING state to allow drivers to activate DN's while actioning the trip.
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

specify whether processing is complete
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Update service.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Made all the DN fields inputs
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note_test.proto
Owners: @Kyosk-Digital/of_squad

Add retailer and outlet name to sales order
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add filter parameters for orders
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add retailer and outlet name to sales order
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add a territory and country proto | update delivery note fields
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/warehousing/country/v1/country.proto
  order_fulfillment/protos/warehousing/territory/v1/service.proto
  order_fulfillment/protos/warehousing/territory/v1/territory.proto
Owners: @Kyosk-Digital/of_squad

- Add a query to fetch credit DP
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Add a driver name on the delivery trip
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

map missing fields to sales order
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
