Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

addition of smile id callback dp 1
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

addition of smile id callback dp 2
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

addition of smile id callback dp 3
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

add dt and terr to cash cmds and data products
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add business permit number and business permit attachment
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

remove business permit number
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

enrich dp with extra fields
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

add import
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

Refactor Produce DP to match data from ERP
  kyosk-farm/protos/sourcing/v1/produce.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update service.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

remove customer and Purchase list from the services
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

kpv-1910:add more timestamps on mpesa
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

Add projected qty endpoints
  retail_exp/protos/merchandising/projected_qty/v1/projected_qty.proto
  retail_exp/protos/merchandising/projected_qty/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add projected qty endpoints
  retail_exp/protos/merchandising/projected_qty/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add projected qty endpoints
  retail_exp/protos/merchandising/projected_qty/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

purchase order protos
  kyosk-farm/protos/produce_collection/v1/service.proto
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
Owners: @Kyosk-Digital/data-team

purchase order service
  kyosk-farm/protos/purchase_order/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update service.proto
  kyosk-farm/protos/produce_collection/v1/service.proto
Owners: @Kyosk-Digital/data-team

Delete service.proto
  kyosk-farm/protos/produce_collection/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update sales order and projected qty
  retail_exp/protos/merchandising/projected_qty/v1/service.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

- Add legacy statuses
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Create Squad enum
  platform/protos/buf.lock
  platform/protos/common/org/squad/v1/squad.proto
Owners: @Kyosk-Digital/data-team

Add failed delivery note proto file
  ibs/protos/dlq/delivery_note/v1/failed_delivery_note.proto
Owners: @Kyosk-Digital/ibs-squad

create StockAggregate proto to aggregate stock items in a fulfilment center
  order_fulfillment/protos/warehousing/stock_aggregate/v1/stock_aggregate.proto
Owners: @Kyosk-Digital/of_squad

create StockAggregate proto to aggregate stock items in a fulfilment center
  order_fulfillment/protos/warehousing/stock_aggregate/v1/stock_aggregate.proto
Owners: @Kyosk-Digital/of_squad

Revert "Create Squad enum"
  platform/protos/buf.lock
  platform/protos/common/org/squad/v1/squad.proto
Owners: @Kyosk-Digital/data-team

Make common services unpublishable
  project.json
Owners: @Kyosk-Digital/data-team

Remove squad enum from this repo
  common-services/protos/auth/authentication/v1/user_login_record.proto
  common-services/protos/buf.lock
  common-services/protos/notification/v3/notification.proto
Owners: @Kyosk-Digital/data-team

common-services dataproduct changes
  common-services/protos/auth/authentication/v1/user_login_record.proto
  common-services/protos/buf.lock
  common-services/protos/metadata/country/v1/country.proto
  common-services/protos/metadata/language/v1/language.proto
  common-services/protos/notification/v3/notification.proto
  common-services/protos/notification/v3/notification_mode.proto
  common-services/protos/notification/v3/notification_type.proto
Owners: @Kyosk-Digital/data-team

add squad back in common-services
  common-services/protos/metadata/org/squad/v1/squad.proto
  common-services/protos/notification/v3/notification.proto
Owners: @Kyosk-Digital/data-team

create StockAggregate proto to aggregate stock items in a fulfilment center
  order_fulfillment/protos/warehousing/fulfillment_center/v1/fc_stock_aggregate.proto
  order_fulfillment/protos/warehousing/stock_aggregate/v1/stock_aggregate.proto
Owners: @Kyosk-Digital/of_squad

Add order ids filter
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

added an extra enum field for pr status
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

add outlet name
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Update bi_sale_order.proto to add string customer_erp_id = 32 field
  bi/protos/sales/bi_sale_order/v1/bi_sale_order.proto
Owners: @Kyosk-Digital/data-team

defined bi_kyc data product for bomba service
  bi/protos/kyosk_kyc/bi_kyc/v2/bi_kyc.proto
Owners: @Kyosk-Digital/data-team

add agency_banking
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

add more application status, change naming of createAgent Service
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

update purchase order response
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
  kyosk-farm/protos/purchase_order/v1/service.proto
Owners: @Kyosk-Digital/data-team

add fc and updated on to the stock_balance
  order_fulfillment/protos/warehousing/stock_balance/v1/stock_balance.proto
Owners: @Kyosk-Digital/of_squad

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
