Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

lint fix: remove unused import
  payments/protos/configurations/payment_config/v2/account.proto
Owners: @Kyosk-Digital/payments-squad

Add `user name` to the wema account DP
  payments/protos/payment_integrations/wema/v1/wema_transaction.proto
Owners: @Kyosk-Digital/payments-squad

make territory list
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

make trritory listy
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

add regions to the Farm Data Products
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
  kyosk-farm/protos/purchase_order/v1/service.proto
Owners: @Kyosk-Digital/data-team

Add `kyosk_transaction_reference` and `transaction_status` to the wema account DP
  payments/protos/payment_integrations/wema/v1/wema_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add produce ordered as a list to Purchase Order
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
  kyosk-farm/protos/purchase_order/v1/service.proto
Owners: @Kyosk-Digital/data-team

update Kyc proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Create Purchase Order DP
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
  kyosk-farm/protos/purchase_order/v1/service.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update service.proto
  kyosk-farm/protos/purchase_order/v1/service.proto
Owners: @Kyosk-Digital/data-team

Add `wema` to payment_channel in the `payment_request` and `erpnext` DP
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

added percentage field for penalty fee
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

added pr id on wema transaction
  payments/protos/credit/credit/v1/service.proto
  payments/protos/payment_integrations/wema/v1/wema_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Update purchase_order.proto
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
Owners: @Kyosk-Digital/data-team

Add produce Status
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
Owners: @Kyosk-Digital/data-team

add start date to the protofile
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
Owners: @Kyosk-Digital/data-team

Update kyc.proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Update kyc.proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Update kyc.proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Update kyc.proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Update kyc.proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Update kyc.proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Update kyc.proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

- Add Customer Journey
  bi/protos/bi/customer_journey/v1/customer_journey.proto
Owners: @Kyosk-Digital/data-team

- Add gen files
  bi/gen/java-src/build.gradle.kts
  bi/gen/java-src/data/build.gradle.kts
  bi/gen/java-src/gradle/wrapper/gradle-wrapper.jar
  bi/gen/java-src/gradle/wrapper/gradle-wrapper.properties
  bi/gen/java-src/gradlew
  bi/gen/java-src/gradlew.bat
  bi/gen/java-src/settings.gradle.kts
  bi/gen/java-src/testData/build.gradle.kts
Owners: @Kyosk-Digital/data-team

Create farm_material_request.proto
  kyosk-farm/protos/target_allocation/v1/farm_material_request.proto
Owners: @Kyosk-Digital/data-team

Add GL Entry and Stock Ledger Entry proto files
  erpnext/protos/accounts/gl_entry/v1/gl_entry.proto
  erpnext/protos/stock/stock_ledger_entry/v1/stock_ledger_entry.proto
Owners: @Kyosk-Digital/ibs-squad

feat: add employee.proto
  erpnext/protos/hr/employee/v1/employee.proto
Owners: @Kyosk-Digital/ibs-squad

feat: add account.proto
  erpnext/protos/accounts/account/v1/account.proto
Owners: @Kyosk-Digital/ibs-squad

add warehouse to regions proto
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
  kyosk-farm/protos/sourcing/v1/region.proto
  kyosk-farm/protos/target_allocation/v1/farm_material_request.proto
Owners: @Kyosk-Digital/data-team

Update target.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

Update farm_material_request.proto
  kyosk-farm/protos/target_allocation/v1/farm_material_request.proto
Owners: @Kyosk-Digital/data-team

fix buff break
  kyosk-farm/protos/target_allocation/v1/farm_material_request.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

Update target.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

add pezesha credit proto
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add more details in the CreditLimitDetails message
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

fixing a buf breaking change
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
  kyosk-farm/protos/target_allocation/v1/farm_material_request.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

adding payouts data product
  payments/protos/payments/payout/v1/payout.proto
  payments/protos/payments/payout/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

modifying package name on imports
  payments/protos/payments/payout/v1/payout.proto
  payments/protos/payments/payout/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

remove unused imports
  payments/protos/payments/payout/v1/payout.proto
  payments/protos/payments/payout/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
