Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

Split delivery window to delivery window proto, and service proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Fix buff commands
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Fix buff errore
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add uom field
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add currency field
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Update timestamps and dates
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Fix conflict
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add an RPC call to query for hot DNs
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add image url
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

modifying wallet n payment request test to use currrency n country from commons
  payments/protos/credit/credit/v1/service.proto
  payments/protos/payments/payment_request/v1/payment_request_test.proto
  payments/protos/payments/wallet/v1/wallet.proto
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

added payment purpose for cash collection
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

modified cash collection to use common currency
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

removed unused imports
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

cancellation reason added.
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

redined the bi_sale_order data product based on the changes to the original sale_order data product
  bi/protos/sales/bi_sale_order/v1/bi_sale_order.proto
Owners: @Kyosk-Digital/data-team

defined bi_retailer_kyc data product
  bi/protos/market_mgt/bi_retailer_kyc/v1/bi_retailer_kyc.proto
Owners: @Kyosk-Digital/data-team

Add changes to the material transfer and delivery trip service protos
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

remove unused imports
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add delivery windows rpc method
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

Add delivery windows rpc method
  retail_exp/protos/market_mgt/market/v1/market.proto
Owners: @Kyosk-Digital/retail-experience

Add delivery windows rpc method
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

Added a field for wallet_owner_name Added a field for total record which will be used for pargination Removed first name and last name
  payments/protos/payments/wallet/v1/service.proto
  payments/protos/payments/wallet/v1/wallet.proto
  payments/protos/payments/wallet_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Add delivery windows rpc method
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

Add delivery windows rpc method
  retail_exp/protos/market_mgt/market/v1/market.proto
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

modified bi_delivery_note data product from the changes to the original data product
  bi/protos/dispatch/bi_delivery_note/v1/bi_delivery_note.proto
Owners: @Kyosk-Digital/data-team

mpesa deactivation/reactivation response payloads
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

modified bi_delivery_trip data product from the changes to the original data product
  bi/protos/dispatch/bi_delivery_trip/v1/bi_delivery_trip.proto
Owners: @Kyosk-Digital/data-team

Make changes to the dayconfig
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Make status change a repeated field
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

Add territory_id to the delivery window
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Added the sale order migration proto for the Kafka
  retail_exp/protos/migration/orders/v1/sale_order_input.proto
Owners: @Kyosk-Digital/retail-experience

Add a delivery window service
  order_fulfillment/protos/dispatch/delivery_windows/v1/service.proto
Owners: @Kyosk-Digital/of_squad

add more parameters to the delivery trip
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

add more parameters to the delivery trip
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

Added PostTransaction for crediting and debiting ledger
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

Added PostTransaction for crediting and debiting ledger
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Renamed transactionType to transaction_type
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

Add a driver warehouse id to the DN
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

Removed redundant fied and added new field to post transaction request
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

Changed amount type from string to double
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad
