Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

added territory inter warehouse data product
  order_fulfillment/protos/warehousing/inter_warehouse/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

added territory inter warehouse data product
  order_fulfillment/protos/warehousing/inter_warehouse/v1/service.proto
  order_fulfillment/protos/warehousing/inter_warehouse/v1/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

added territory inter warehouse data product
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/service.proto
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

Add `variance_report.proto`
  order_fulfillment/protos/stock_take/variance_report/v1/variance_report.proto
Owners: @Kyosk-Digital/of_squad

Add created_at in `variance_report.proto`
  order_fulfillment/protos/stock_take/variance_report/v1/variance_report.proto
Owners: @Kyosk-Digital/of_squad

Correct comment in `variance_report.proto`
  order_fulfillment/protos/stock_take/variance_report/v1/variance_report.proto
Owners: @Kyosk-Digital/of_squad

Add extra fields in `variance_report.proto`
  order_fulfillment/protos/stock_take/variance_report/v1/variance_report.proto
Owners: @Kyosk-Digital/of_squad

Add approval rpc
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add approval rpc
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add approval rpc
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

add erp status and message on the data product
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/service.proto
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

- Add fields to SO Pivot
  retail_exp/protos/sales/sales_order_pivot/v1/sales_order_pivot.proto
Owners: @Kyosk-Digital/retail-experience

- Fix
  retail_exp/protos/sales/sales_order_pivot/v1/sales_order_pivot.proto
Owners: @Kyosk-Digital/retail-experience

Change ProduceAccount to Produce Type in the target proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

added payment request id and dn id on settlement
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

add erp status and message on the data product
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

add erp status and message on the data product
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

add erp status and message on the data product
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

PromoItemQuery
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

create bank payment trxn
  payments/protos/credit/bulk_repayment/v1/bank_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Add Tax ID
  erpnext/protos/accounts/purchase_invoice/v1/purchase_invoice.proto
Owners: @Kyosk-Digital/ibs-squad

fix class
  payments/protos/credit/bulk_repayment/v1/bank_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add comments
  payments/protos/credit/bulk_repayment/v1/bank_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add bulk repayments service
  payments/protos/credit/bulk_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

fix import
  payments/protos/credit/bulk_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

remove unused import
  payments/protos/credit/bulk_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

remove approvals
  payments/protos/credit/bulk_repayment/v1/bank_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add outlet type
  payments/protos/payment_integrations/mpesa/v1/mpesa.proto
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

add import
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

add import
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

create v2 to change the status type from string to Status
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v2/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

add territory interwarehouse on the DispatchCmdMovement
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

add territory interwarehouse on the DispatchCmdMovement
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

add movement inter warehouse status
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

add movement inter warehouse status
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

add movement inter warehouse status
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

added failed on ERP status
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

Add the correct `mpesa_b2c` enum for the `payout`
  payments/protos/payments/payment_request/v1/payment_request.proto
  payments/protos/payments/payout/v1/payout.proto
Owners: @Kyosk-Digital/payments-squad

added failed on ERP status
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v2/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

added failed on ERP status
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/service.proto
Owners: @Kyosk-Digital/of_squad

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
