Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

added manual credit repayment as a payment channel
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

Added service to fetch user status
  payments/protos/payments/sevi/v1/service.proto
  payments/protos/payments/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

Added missing import statement
  payments/protos/payments/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Added fetch payment proposals
  payments/protos/payments/sevi/v1/service.proto
  payments/protos/payments/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

renamed fields using lower snake case
  payments/protos/payments/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

Changed data type
  payments/protos/payments/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

Add app fields
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

Added service for order payment
  payments/protos/payments/sevi/v1/service.proto
  payments/protos/payments/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

Remove unused import
  payments/protos/payments/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

Add and update outlet segments data products
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/market_mgt/outlet_category/v1/outlet_category.proto
  retail_exp/protos/market_mgt/outlet_category/v1/service.proto
  retail_exp/protos/market_mgt/outlet_type/v1/outlet_type.proto
  retail_exp/protos/market_mgt/outlet_type/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Separate enum from group to route type
  retail_exp/protos/market_mgt/outlet_type/v1/outlet_type.proto
  retail_exp/protos/market_mgt/outlet_type/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add app fields
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add app fields
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Outlet Group Type
  platform/protos/buf.lock
  platform/protos/common/shared/v1/shared.proto
Owners: @Kyosk-Digital/data-team

kpv-2053-add-approval-request
  payments/protos/payments/manual_credit_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

clear methods
  payments/protos/payments/manual_credit_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Add fcm rpc method
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/promotion/discount/v1/service.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Change of type
  platform/protos/common/shared/v1/shared.proto
  retail_exp/protos/market_mgt/outlet_type/v1/outlet_type.proto
  retail_exp/protos/market_mgt/outlet_type/v1/service.proto
Owners: @Kyosk-Digital/data-team, @Kyosk-Digital/retail-experience

Build re imgae
  retail_exp/protos/market_mgt/outlet_category/v1/outlet_category.proto
Owners: @Kyosk-Digital/retail-experience

Add fcm rpc method
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add cancellation reason desc
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

add tanda transactions
  vas/protos/agency_banking/tanda/v1/transaction.proto
Owners: @Kyosk-Digital/data-team

add tanda transactions
  vas/protos/agency_banking/tanda/v1/transaction.proto
Owners: @Kyosk-Digital/data-team

add tanda transactions
  vas/protos/agency_banking/tanda/transaction/transaction.proto
Owners: @Kyosk-Digital/data-team

add tanda transactions
  vas/protos/agency_banking/tanda/v1/transaction/transaction.proto
Owners: @Kyosk-Digital/data-team

changes
  vas/protos/agency_banking/tanda/transaction/v1/transaction.proto
Owners: @Kyosk-Digital/data-team

Add fcm rpc
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/market_mgt/outlet_fcm/v1/outlet_fcm.proto
  retail_exp/protos/market_mgt/outlet_fcm/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add cancellation reason to so
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

FE fields
  retail_exp/protos/market_mgt/outlet_category/v1/outlet_category.proto
Owners: @Kyosk-Digital/retail-experience

Add cancellation reason to so
  retail_exp/protos/market_mgt/outlet_fcm/v1/outlet_fcm.proto
Owners: @Kyosk-Digital/retail-experience

Add eTIMS fields to Item proto file
  erpnext/protos/stock/item/v1/item.proto
Owners: @Kyosk-Digital/ibs-squad

Add status change history
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Refactored Fetch Customer Status
  payments/protos/payments/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

move sevi to payment_integrations package
  payments/protos/payment_integrations/sevi/v1/service.proto
  payments/protos/payment_integrations/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

add fields to fetch proposals request
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

lint fix
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

adding country and territory
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

defined bi_stock_balance data product
  bi/protos/dispatch/bi_stock_balance/v1/bi_stock_balance.proto
Owners: @Kyosk-Digital/data-team

adding territory id for maunal credit repayment
  payments/protos/payments/manual_credit_repayment/v1/manual_credit_repayment.proto
  payments/protos/payments/manual_credit_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

restructure types and remove unneeded fields
  payments/protos/payment_integrations/sevi/v1/service.proto
  payments/protos/payment_integrations/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad
