Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

Update `UpdateDeliveryWindowConfigCommand`
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

- Update shated lib
  order_fulfillment/protos/buf.lock
Owners: @Kyosk-Digital/of_squad

- Update shared re
  retail_exp/protos/buf.lock
Owners: @Kyosk-Digital/retail-experience

- Update shared pay
  payments/protos/buf.lock
Owners: @Kyosk-Digital/payments-squad

- Update shared farm
  kyosk-farm/protos/buf.lock
Owners: @Kyosk-Digital/data-team

- Update shared erp
  erpnext/protos/buf.lock
Owners: @Kyosk-Digital/ibs-squad

- Update shared bi
  bi/protos/buf.lock
Owners: @Kyosk-Digital/data-team

add previous buying rate to the BuyingPrice Proto
  kyosk-farm/protos/price_listing/v1/buying_price.proto
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Fix zone data product
  order_fulfillment/protos/dispatch/zone/v1/service.proto
  order_fulfillment/protos/dispatch/zone/v1/zone.proto
Owners: @Kyosk-Digital/of_squad

feat: add two fields to item_price.proto
  erpnext/protos/stock/item_price/v1/item_price.proto
Owners: @Kyosk-Digital/ibs-squad

Update service.proto
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update buying_price.proto
  kyosk-farm/protos/price_listing/v1/buying_price.proto
Owners: @Kyosk-Digital/data-team

added outlet payment configuration id
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Refactor customer draft
  retail_exp/protos/market_mgt/customer_draft/v1/customer_draft.proto
  retail_exp/protos/market_mgt/customer_draft/v1/service.proto
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/utils/v1/contact.proto
  retail_exp/protos/utils/v1/document.proto
  retail_exp/protos/utils/v1/location.proto
Owners: @Kyosk-Digital/retail-experience

Refactor customer draft
  retail_exp/protos/market_mgt/customer_draft/v1/service.proto
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

adding fetch by id for outletpayment configuration
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

Refactor customer draft
  retail_exp/protos/utils/v1/contact.proto
Owners: @Kyosk-Digital/retail-experience

Refactor customer draft
  retail_exp/protos/market_mgt/customer_draft/v1/customer_draft.proto
  retail_exp/protos/utils/v1/contact.proto
  retail_exp/protos/utils/v1/location.proto
Owners: @Kyosk-Digital/retail-experience

Refactor customer draft
  retail_exp/protos/market_mgt/customer_draft/v1/customer_draft.proto
  retail_exp/protos/market_mgt/customer_draft/v1/service.proto
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Refactor customer draft
  retail_exp/protos/market_mgt/customer_draft/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Refactor customer draft
  retail_exp/protos/utils/v1/document.proto
Owners: @Kyosk-Digital/retail-experience

Add remarks to movement message
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

update enums
  retail_exp/protos/utils/v1/payment.proto
Owners: @Kyosk-Digital/retail-experience

Update outlet and add delivery locations
  retail_exp/protos/market_mgt/customer_draft/v1/customer_draft.proto
  retail_exp/protos/market_mgt/delivery_location/v1/delivery_location.proto
  retail_exp/protos/market_mgt/delivery_location/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Update outlet and add delivery locations
  retail_exp/protos/market_mgt/delivery_location/v1/delivery_location.proto
  retail_exp/protos/market_mgt/delivery_location/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Update retailer
  retail_exp/protos/market_mgt/retailer/v1/retailer.proto
Owners: @Kyosk-Digital/retail-experience

Update retailer
  retail_exp/protos/market_mgt/delivery_location/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Update retailer
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/market_mgt/retailer/v1/retailer.proto
Owners: @Kyosk-Digital/retail-experience

Update retailer
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add approval endpoint
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add query to fetch outlet types
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

Add query to fetch outlet types
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

Refactor create customer v1
  retail_exp/protos/market_mgt/customer_draft/v1/service.proto
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Fetch OP with DMatrix
  retail_exp/protos/pricing/outlet_custom_price/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Fix rpc method
  retail_exp/protos/market_mgt/customer_draft/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add DFM to query
  retail_exp/protos/pricing/outlet_custom_price/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add date audit fields in failed delivery note proto file
  ibs/protos/dlq/delivery_note/v1/failed_delivery_note.proto
Owners: @Kyosk-Digital/ibs-squad

Fetch location by ID
  retail_exp/protos/market_mgt/delivery_location/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

add erp qty in transfer qty
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v2/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

Add fields
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/utils/v1/contact.proto
Owners: @Kyosk-Digital/retail-experience
