Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

Update produce.proto
  kyosk-farm/protos/sourcing/v1/produce.proto
Owners: @Kyosk-Digital/data-team

fix lint breaking
  kyosk-farm/protos/sourcing/v1/produce_collection.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update produce_collection.proto
  kyosk-farm/protos/sourcing/v1/produce_collection.proto
Owners: @Kyosk-Digital/data-team

refactor regions proto
  kyosk-farm/protos/sourcing/v1/farm_common.proto
  kyosk-farm/protos/sourcing/v1/region.proto
  kyosk-farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

Added FTL target management
  kyosk-farm/protos/sourcing/v1/service.proto
  kyosk-farm/protos/sourcing/v1/target.proto
Owners: @Kyosk-Digital/data-team

Update region.proto
  kyosk-farm/protos/sourcing/v1/region.proto
Owners: @Kyosk-Digital/data-team

added more fields on MTN for persistence
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

create user_cancelled state to a dn
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

add fullname to improve Agent /Farmer search to include both names
  kyosk-farm/protos/sourcing/v1/agent.proto
  kyosk-farm/protos/sourcing/v1/farmer.proto
Owners: @Kyosk-Digital/data-team

Add field on order items for delivery notes that have rescheduled an item
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add field on order items for delivery notes that have rescheduled an item
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

add Produce and Region to Farmer
  kyosk-farm/protos/sourcing/v1/farmer.proto
Owners: @Kyosk-Digital/data-team

Add timezone to order creation request
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add timezone to order creation request
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Create Farm Produce Proto
  kyosk-farm/protos/sourcing/v1/produce.proto
  kyosk-farm/protos/sourcing/v1/produce_collection.proto
Owners: @Kyosk-Digital/data-team

add Price to Product Proto
  kyosk-farm/protos/sourcing/v1/produce.proto
  kyosk-farm/protos/sourcing/v1/produce_collection.proto
Owners: @Kyosk-Digital/data-team

Update produce_collection.proto
  kyosk-farm/protos/sourcing/v1/produce_collection.proto
Owners: @Kyosk-Digital/data-team

kyosk fresh types to routes and route assignments
  retail_exp/protos/market_mgt/market_activator_assignment/v1/market_activator_assignment.proto
  retail_exp/protos/market_mgt/route/v1/route.proto
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
Owners: @Kyosk-Digital/retail-experience

updates to routr types
  retail_exp/protos/market_mgt/route/v1/route.proto
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
Owners: @Kyosk-Digital/retail-experience

moved the types to commons
  platform/protos/common/shared/v1/shared.proto
  retail_exp/protos/market_mgt/route/v1/route.proto
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
Owners: @Kyosk-Digital/data-team, @Kyosk-Digital/retail-experience

updated
  retail_exp/protos/market_mgt/market_activator_assignment/v1/market_activator_assignment.proto
Owners: @Kyosk-Digital/retail-experience

Fetch user territory from token
  retail_exp/protos/market_mgt/market/v1/market.proto
Owners: @Kyosk-Digital/retail-experience

Added delivery window v2
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/territory_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/window_config.proto
Owners: @Kyosk-Digital/of_squad

Added delivery window v2
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Added delivery window v2
  order_fulfillment/protos/dispatch/delivery_windows/v2/window_config.proto
Owners: @Kyosk-Digital/of_squad

Remove unused imports
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/territory_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/window_config.proto
Owners: @Kyosk-Digital/of_squad

Update service.proto
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Added fulfiment center id
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/window_config.proto
Owners: @Kyosk-Digital/of_squad

Add fc to territory config
  order_fulfillment/protos/dispatch/delivery_windows/v2/territory_config.proto
Owners: @Kyosk-Digital/of_squad

route types
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

Made changes to `customer.proto`
  erpnext/protos/selling/customer/v1/customer.proto
Owners: @Kyosk-Digital/ibs-squad

pr for platforms
  platform/protos/common/shared/v1/shared.proto
Owners: @Kyosk-Digital/data-team

dummy for routes
  retail_exp/protos/market_mgt/route/v1/route.proto
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
Owners: @Kyosk-Digital/retail-experience

Update retail exp buf.lock
  retail_exp/protos/buf.lock
Owners: @Kyosk-Digital/retail-experience

deploy routes
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

add the types to postrequest
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

kyosh fresh post route
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

update routes
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

updates
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

error fix
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience
