Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

Add rpc method
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

get wallet details
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

get wallet details
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

added application status field
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Add cart and Sale order delivery Fee
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Query outlet delivery fee matrix and custom price
  retail_exp/protos/pricing/outlet_custom_price/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Kpv-2486-payout-approval
  payments/protos/payments/payout/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add query fields
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/utils/v1/queryoperator.proto
Owners: @Kyosk-Digital/retail-experience

Kpv-2486-payout-approval
  payments/protos/payments/payout/v1/payout.proto
  payments/protos/payments/payout/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Kpv-2486-payout-approval
  payments/protos/payments/payout/v1/payout.proto
  payments/protos/payments/payout/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

added before and after for date query
  platform/protos/common/query/v1/query.proto
Owners: @Kyosk-Digital/data-team

added before and after for date query
  retail_exp/protos/utils/v1/queryoperator.proto
Owners: @Kyosk-Digital/retail-experience

retrigger the image
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Update RE dependencies
  retail_exp/protos/buf.lock
Owners: @Kyosk-Digital/retail-experience

inline rpt in ucr and role in rpt
  common-services/protos/auth/authorization/role_permission_template/v1/role_permission_template.proto
  common-services/protos/auth/authorization/user_context_role/v1/user_context_role.proto
  common-services/protos/buf.lock
Owners: @Kyosk-Digital/data-team

add before and after
  retail_exp/protos/utils/v1/queryoperator.proto
Owners: @Kyosk-Digital/retail-experience

query operator fields
  retail_exp/protos/utils/v1/queryoperator.proto
Owners: @Kyosk-Digital/retail-experience

Add new field and rpc method
  retail_exp/protos/market_mgt/customer_draft/v1/customer_draft.proto
  retail_exp/protos/market_mgt/customer_draft/v1/service.proto
  retail_exp/protos/utils/v1/location.proto
Owners: @Kyosk-Digital/retail-experience

commercial partner proto
  retail_exp/protos/market_mgt/commercial_partner/v1/commercial_partner.proto
  retail_exp/protos/market_mgt/commercial_partner/v1/service.proto
  retail_exp/protos/market_mgt/market_activator/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add UPDATE_NOTE action for DN service
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

revamping outlep payment configurations
  payments/protos/configurations/payment_config/v2/outlet_payment_configuration.proto
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

sort financier import issue
  payments/protos/configurations/payment_config/v2/outlet_payment_configuration.proto
Owners: @Kyosk-Digital/payments-squad

remove lint issue
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

redploy image
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

redploy image
  retail_exp/protos/market_mgt/commercial_partner/v1/commercial_partner.proto
Owners: @Kyosk-Digital/retail-experience

redploy image
  retail_exp/protos/market_mgt/commercial_partner/v1/commercial_partner.proto
Owners: @Kyosk-Digital/retail-experience

updates
  retail_exp/protos/market_mgt/commercial_partner/v1/commercial_partner.proto
Owners: @Kyosk-Digital/retail-experience

updates for commercial partner
  retail_exp/protos/market_mgt/commercial_partner/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

deploy commercial kitchen
  retail_exp/protos/market_mgt/commercial_partner/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add documentation on adding dependencies
  README.md
Owners: @Kyosk-Digital/data-team

Revert draft fields on outlet
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Added the get loan status data products
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Added the get loan status data products 1
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

renaming from CreditTerms to PaymentTerms
  payments/protos/configurations/payment_config/v2/outlet_payment_configuration.proto
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

added payment terms service
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

Fix RE data products
  retail_exp/protos/market_mgt/commercial_partner/v1/commercial_partner.proto
  retail_exp/protos/market_mgt/market_activator/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add `zone_id` in delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Add creation and modified fields to data products
  erpnext/protos/kyosk/kyosk_feedback/v1/kyosk_feedback.proto
  erpnext/protos/selling/product_bundle/v2/product_bundle.proto
Owners: @Kyosk-Digital/ibs-squad

Added field for total records
  payments/protos/payments/payout/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

deploy reason
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
