Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

converting transaction_time to Timestamp
  payments/protos/payments/payout/v1/payout.proto
Owners: @Kyosk-Digital/payments-squad

Create new version for DeliveryTripCreateCmd
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Create new version for DeliveryTripCreateCmd
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Create new version for DeliveryTripCreateCmd
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Update region.proto
  kyosk-farm/protos/sourcing/v1/region.proto
Owners: @Kyosk-Digital/data-team

Added GeneratePartialReturns data product
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

recreated partial returns unit data product with additional status for partial return items
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

recreated partial returns variable renamed to uom
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

updates to partial returns message variables
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

updates to partial returns message variables
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Added created_on_app to Delivery Note
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

feat: add creation field
  erpnext/protos/accounts/gl_entry/v1/gl_entry.proto
  erpnext/protos/stock/stock_ledger_entry/v1/stock_ledger_entry.proto
Owners: @Kyosk-Digital/ibs-squad

add item to trip
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

added status for pending orders delivery notes cancelled on the portal
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

addition status for pending orders cancelled status for delivery notes and delivery note items
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

Added `payout_status` to the Payout DP, to keep track of the status of the Payout request
  payments/protos/payments/payout/v1/payout.proto
Owners: @Kyosk-Digital/payments-squad

Adding ops cancelled status
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Added `status` to the Payout DP, to keep track of the status of the Payout request
  payments/protos/payments/payout/v1/payout.proto
Owners: @Kyosk-Digital/payments-squad

change FTL assigned products to a list
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

b2c transactions
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

Added `PROCESSING` to the Payout DP status enum
  payments/protos/payments/payout/v1/payout.proto
Owners: @Kyosk-Digital/payments-squad

b2c transactions dp
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

add more comments
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

add commons
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

use double
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

add disbusement type
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

Add discount amount in failed delivery note proto file
  ibs/protos/dlq/delivery_note/v1/failed_delivery_note.proto
Owners: @Kyosk-Digital/ibs-squad

add country and currency
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

add safaricom data points
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

add safaricom data points
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

add Create Region service and Update Agent service
  kyosk-farm/protos/sourcing/v1/service.proto
Owners: @Kyosk-Digital/data-team

creating payout request cmd test
  payments/protos/payments/payout/v1/payout_test.proto
Owners: @Kyosk-Digital/payments-squad

sorting lint issues
  payments/protos/payments/payout/v1/payout_test.proto
Owners: @Kyosk-Digital/payments-squad

renaming payout service test
  payments/protos/payments/payout/v1/payout_test.proto
Owners: @Kyosk-Digital/payments-squad

update payout test return type
  payments/protos/payments/payout/v1/payout_test.proto
Owners: @Kyosk-Digital/payments-squad

add b2c data points
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

Pricing DPs
  retail_exp/protos/pricing/delivery_fee_matrix/v1/delivery_fee_matrix.proto
  retail_exp/protos/pricing/delivery_fee_matrix/v1/service.proto
  retail_exp/protos/pricing/outlet_custom_price/v1/outlet_custom_price.proto
  retail_exp/protos/pricing/outlet_custom_price/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Fix outlet id field
  retail_exp/protos/pricing/outlet_custom_price/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add matrix id
  retail_exp/protos/pricing/delivery_fee_matrix/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

added territory inter warehouse data product
  order_fulfillment/protos/warehousing/inter_warehouse/territory_inter_warehouse.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
Owners: @Kyosk-Digital/of_squad

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
