Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

add Service suffix
  vas/protos/kyosk_kyc/kyc/v1/kyc.proto
Owners: @Kyosk-Digital/data-team

fix linitng issues related to naming conventions
  vas/protos/kyosk_kyc/kyc/v1/kyc.proto
Owners: @Kyosk-Digital/data-team

add data product for Kyosk KYC
  vas/protos/kyosk_kyc/kyc/v1/kyc.proto
Owners: @Kyosk-Digital/data-team

Add request field
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

add a dispatch time on the delivery trip
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

Add dispatch time to the create and update RPC's
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
Owners: @Kyosk-Digital/of_squad

update assignment for better display
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
  order_fulfillment/protos/dispatch/vehicle_type/v1/service.proto
Owners: @Kyosk-Digital/of_squad

fix lint vehicle type
  order_fulfillment/protos/dispatch/vehicle_type/v1/service.proto
Owners: @Kyosk-Digital/of_squad

adding mtn data product (bff-> mtn, mtn-> mtn_api, mtn->wallet)
  payments/protos/payment_integrations/mtn/v1/mtn.proto
  payments/protos/payment_integrations/mtn/v1/mtn_service.proto
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

fixing camelcase issues
  payments/protos/payment_integrations/mtn/v1/mtn_service.proto
Owners: @Kyosk-Digital/payments-squad

fixing camelcase issues
  payments/protos/payment_integrations/mtn/v1/mtn_service.proto
Owners: @Kyosk-Digital/payments-squad

fixing camelcase issues
  payments/protos/payment_integrations/mtn/v1/mtn_service.proto
Owners: @Kyosk-Digital/payments-squad

refactor mtn service proto
  payments/protos/payment_integrations/mtn/v1/mtn_service.proto
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Change string ids to int64 values
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
  order_fulfillment/protos/warehousing/stock_movement/v1/service.proto
  order_fulfillment/protos/warehousing/stock_movement/v1/stock_movement.proto
Owners: @Kyosk-Digital/of_squad

refactor mtn service proto
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

remove unused imports
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add audit fields
  payments/protos/credit/credit/v1/credit.proto
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add id for repayments dp
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

change tag
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

fix type
  payments/protos/credit/credit/v1/credit.proto
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

audit financier dp
  payments/protos/credit/financier/v1/financier.proto
Owners: @Kyosk-Digital/payments-squad

Add fetch route md order filter field
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
Owners: @Kyosk-Digital/retail-experience

created a erpnext folder for bi dp with initial commit on bi_sales_invoice
  bi/protos/erpnext/bi_sales_invoice/v1/bi_sales_invoice.proto
Owners: @Kyosk-Digital/data-team

Add fetch route md order filter field
  retail_exp/protos/market_mgt/route/v1/route.proto
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
Owners: @Kyosk-Digital/retail-experience

Revert "Change string ids to int64 values"
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
  order_fulfillment/protos/warehousing/stock_movement/v1/service.proto
  order_fulfillment/protos/warehousing/stock_movement/v1/stock_movement.proto
Owners: @Kyosk-Digital/of_squad

Remove `driver` from sales invoice/Update conversion factor data type (ERPNext)
  erpnext/protos/accounts/sales_invoice/v1/sales_invoice.proto
  erpnext/protos/selling/product_bundle/v1/product_bundle.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad

Replace rpcs with query
  order_fulfillment/protos/warehousing/territory/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Replace rpcs with query
  order_fulfillment/protos/warehousing/territory/v1/service.proto
Owners: @Kyosk-Digital/of_squad

added query active credit rpc call
  payments/protos/credit/credit/v1/credit.proto
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

added import for currency
  payments/protos/credit/credit/v1/credit.proto
Owners: @Kyosk-Digital/payments-squad

Remove `credit_account` from sale_invoice.proto
  erpnext/protos/accounts/sales_invoice/v1/sales_invoice.proto
Owners: @Kyosk-Digital/ibs-squad

fix custom assignment response
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Change `vfd_gc` and `vfd_gc` from string to int32
  erpnext/protos/accounts/sales_invoice/v1/sales_invoice.proto
Owners: @Kyosk-Digital/ibs-squad

Added flag to indicate whether or not a window has been sent to Kafka
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Update delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Update RT and SO dps
  retail_exp/protos/market_mgt/route/v1/route.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Update service.proto
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Update RT and SO dps
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

Update RT and SO dps
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

Update RT and SO dps
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience
