Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

add Service suffix
  vas/protos/kyosk_kyc/kyc/v1/kyc.proto
Owners: @Kyosk-Digital/data-team

add new kyc version
  vas/protos/kyosk_kyc/kyc/v1/kyc.proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Update driver.proto
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
Owners: @Kyosk-Digital/of_squad

defined bi purchase receipt data product
  bi/protos/erpnext/bi_purchase_receipt/v1/bi_purchase_receipt.proto
Owners: @Kyosk-Digital/data-team

Add the legacy_id for migration data products
  retail_exp/protos/market_mgt/market/v1/market.proto
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/market_mgt/retailer/v1/retailer.proto
  retail_exp/protos/market_mgt/route/v1/route.proto
  retail_exp/protos/market_mgt/route_assignment_history/v1/route_assignment_history.proto
  retail_exp/protos/market_mgt/sale_district/v1/sale_district.proto
  retail_exp/protos/market_mgt/sale_district_assignment_history/v1/sale_district_assignment_history.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

update order item status
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Update driver.proto
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
Owners: @Kyosk-Digital/of_squad

updates
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add `material_request.proto`
  erpnext/protos/stock/material_Request/v1/material_request.proto
Owners: @Kyosk-Digital/ibs-squad

Add item expired status
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add fields from BigQuery
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Update vehicle.proto
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
Owners: @Kyosk-Digital/of_squad

Update assignment.proto
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/assignment.proto
Owners: @Kyosk-Digital/of_squad

Update provider.proto
  order_fulfillment/protos/dispatch/service_provider/v1/provider.proto
Owners: @Kyosk-Digital/of_squad

add currency
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

udpated dates to times for delievery reporting
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

added BiVehicleType and BiCarType messages to the DT
  bi/protos/dispatch/bi_delivery_trip/v1/bi_delivery_trip.proto
Owners: @Kyosk-Digital/data-team

added BiCatalogItem message to get uom field
  bi/protos/dispatch/bi_delivery_note/v1/bi_delivery_note.proto
Owners: @Kyosk-Digital/data-team

adding stk_transaction as a dataproduct
  payments/protos/migration/mpesa/stk_transaction.proto
Owners: @Kyosk-Digital/payments-squad

adding stk_transaction as a dataproduct
  payments/protos/migration/mpesa/v1/stk_transaction.proto
Owners: @Kyosk-Digital/payments-squad

adding missing field to migration DP
  payments/protos/migration/mpesa/v1/stk_transaction.proto
Owners: @Kyosk-Digital/payments-squad

adding missing field to migration DP
  payments/protos/migration/mpesa/v1/stk_transaction.proto
Owners: @Kyosk-Digital/payments-squad

adding missing field to migration DP
  payments/protos/migration/mpesa/v1/stk_transaction.proto
Owners: @Kyosk-Digital/payments-squad

changed the data type of delivery_date to date from datetime
  bi/protos/dispatch/bi_delivery_note/v1/bi_delivery_note.proto
Owners: @Kyosk-Digital/data-team

added uom and item_group_id fields from product_bundle DP
  bi/protos/dispatch/bi_delivery_note/v1/bi_delivery_note.proto
Owners: @Kyosk-Digital/data-team

added agent_name field from original DN data product
  bi/protos/dispatch/bi_delivery_note/v1/bi_delivery_note.proto
Owners: @Kyosk-Digital/data-team

Added legacy id
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

adjust the status
  payments/protos/payment_integrations/mpesa/v1/mpesa.proto
Owners: @Kyosk-Digital/payments-squad

adjust the status
  payments/protos/payment_integrations/mpesa/v1/mpesa.proto
Owners: @Kyosk-Digital/payments-squad

Refactored wallet correction data product
  payments/protos/payments/wallet_correction/v1/service.proto
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

Add user id
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

adding payment entry and journal entry data products
  erpnext/protos/payments/journal_entry/v1/journal_entry.proto
  erpnext/protos/payments/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/ibs-squad

modified voucher type and remark
  erpnext/protos/payments/journal_entry/v1/journal_entry.proto
  erpnext/protos/payments/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/ibs-squad

PaymentType and PartyType enum changes
  erpnext/protos/payments/journal_entry/v1/journal_entry.proto
  erpnext/protos/payments/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/ibs-squad

Add a user_id field to the delivery note
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

updating payment entries and journal entries
  erpnext/protos/payments/journal_entry/v1/journal_entry.proto
  erpnext/protos/payments/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/ibs-squad

updated payment channel sub category
  erpnext/protos/payments/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/ibs-squad

moved PE and JE to payments folder
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

updated PE and je entries and commands
  payments/protos/erpnext/journal_entry/v1/journal_entry.proto
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

updated credit,mpesa and mtn requests to incorporate DN
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
  payments/protos/payment_integrations/mtn/v1/service.proto
Owners: @Kyosk-Digital/payments-squad
