Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

fix pagaination import
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

fix dp import
  vas/protos/credit/pezesha/v1/pezesha.proto
  vas/protos/pagination/cursor_based/cursor_based_pagination.proto
Owners: @Kyosk-Digital/data-team

fix naming for pagination fields
  vas/protos/pagination/cursor_based/v1/cursor_based_pagination.proto
Owners: @Kyosk-Digital/data-team

fix incorrect proto config
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

deprecate incorrect field
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add before param pagination
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Kpv-2486: add customer name
  payments/protos/payments/payout/v1/payout.proto
Owners: @Kyosk-Digital/payments-squad

fix syntax issues
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

fix breaking changes
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

chore change date datatype
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

fix breaking changes
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add PE code
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

add Complete Target Request to the Target Proto
  kyosk-farm/protos/target_allocation/v1/service.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

Update service.proto
  kyosk-farm/protos/target_allocation/v1/service.proto
Owners: @Kyosk-Digital/data-team

Add delivery zone
  retail_exp/protos/market_mgt/delivery_zone/v1/delivery_zone.proto
  retail_exp/protos/market_mgt/delivery_zone/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Rename proto message
  retail_exp/protos/market_mgt/delivery_zone/v1/delivery_zone.proto
Owners: @Kyosk-Digital/retail-experience

Add delivery zone rpc
  retail_exp/protos/market_mgt/delivery_zone/v1/delivery_zone.proto
  retail_exp/protos/market_mgt/delivery_zone/v1/service.proto
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

add complete target service
  kyosk-farm/protos/target_allocation/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update service.proto
  kyosk-farm/protos/target_allocation/v1/service.proto
Owners: @Kyosk-Digital/data-team

Added outlet_type_id, outlet_id, delivery_fee_amount
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

Added outlet_type_id, outlet_id, delivery_fee_amount
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

Added outlet id to wallet
  payments/protos/payments/wallet/v1/wallet.proto
Owners: @Kyosk-Digital/payments-squad

add outlet id to wallet def
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

pezesha wallet status
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

pezesha wallet status
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Added service UpdateWalletOutletId to wallet
  payments/protos/payments/wallet/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add multiple products to one FTL target allocation
  kyosk-farm/protos/purchase_order/v1/purchase_order.proto
  kyosk-farm/protos/target_allocation/v1/service.proto
Owners: @Kyosk-Digital/data-team

add target amount and quantity to products
  kyosk-farm/protos/target_allocation/v1/service.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

Included payment data
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

fix conflicts
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Added outlet_id to PayWithSeviCmd
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Add new fields in stock ledger entry data product
  erpnext/protos/stock/stock_ledger_entry/v1/stock_ledger_entry.proto
Owners: @Kyosk-Digital/ibs-squad

Added vehicle v2 object
  order_fulfillment/protos/dispatch/vehicle/v2/service.proto
  order_fulfillment/protos/dispatch/vehicle/v2/vehicle.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object
  order_fulfillment/protos/dispatch/vehicle/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object
  order_fulfillment/protos/dispatch/vehicle/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object
  order_fulfillment/protos/dispatch/vehicle/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object
  order_fulfillment/protos/dispatch/vehicle/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object
  order_fulfillment/protos/dispatch/vehicle/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object
  order_fulfillment/protos/dispatch/vehicle/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object
  order_fulfillment/protos/dispatch/vehicle/v2/service.proto
Owners: @Kyosk-Digital/of_squad

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
