Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

Add PO
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

Add approver
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

add payment_channel_impl
  payments/protos/configurations/payment_config/v2/payment_option.proto
Owners: @Kyosk-Digital/payments-squad

add paid status
  payments/protos/payment_integrations/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

Kyosk employees
  retail_exp/protos/market_mgt/outlet_type/v1/outlet_type.proto
Owners: @Kyosk-Digital/retail-experience

Group Type Svc
  retail_exp/protos/market_mgt/outlet_type/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Change field from Employee to Team
  retail_exp/protos/market_mgt/outlet_type/v1/outlet_type.proto
Owners: @Kyosk-Digital/retail-experience

Add ROLE_TERRITORYMANAGER
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

add deeplink and amount to pay
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add amount to pay in proposal request
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Promotion enhancements based on multi select territoryids
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

- Add `WemaTransactions` and `WemaAccounts` DPs
  payments/protos/payment_integrations/wema/v1/service.proto
  payments/protos/payment_integrations/wema/v1/wema_transaction.proto
Owners: @Kyosk-Digital/payments-squad

- Correct `lint` errors on Wema's `service.proto`
  payments/protos/payment_integrations/wema/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

- Correct `lint` errors on Wema's `service.proto`
  payments/protos/payment_integrations/wema/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

TerritoryCatalog
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

Update service.proto
  kyosk-farm/protos/target_allocation/v1/service.proto
Owners: @Kyosk-Digital/data-team

Add Agent Target allocation Request
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

Refactor Agent/FTL Target Allocation
  kyosk-farm/protos/target_allocation/v1/service.proto
Owners: @Kyosk-Digital/data-team

feat: add supplier_group field
  erpnext/protos/stock/purchase_receipt/v1/purchase_receipt.proto
Owners: @Kyosk-Digital/ibs-squad

adding total records to manual credit repayment records
  payments/protos/payments/manual_credit_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Add deactivate market endpoint
  retail_exp/protos/market_mgt/market/v1/market.proto
Owners: @Kyosk-Digital/retail-experience

added bi_settlement.proto and referenced settlements in the bi_delivery_note.proto
  bi/protos/dispatch/bi_delivery_note/v1/bi_delivery_note.proto
  bi/protos/dispatch/bi_delivery_note/v1/bi_settlement.proto
Owners: @Kyosk-Digital/data-team

kyc enhancements
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

kyc enhancements with additions
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

kyc enhancements with additions 1
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

kyc enhancements 2
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

add dispatched value of a delivery trip
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

addition of narration to capture reason of failure
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

add vehicle id to the trip
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

update settlement data to match payments
  order_fulfillment/protos/dispatch/delivery_note/v1/settlement.proto
Owners: @Kyosk-Digital/of_squad

Add reactivation endpoint
  retail_exp/protos/market_mgt/market/v1/market.proto
Owners: @Kyosk-Digital/retail-experience

create accounts configs proto
  payments/protos/configurations/payment_config/v2/accounts.proto
Owners: @Kyosk-Digital/payments-squad

create accounts configs service
  payments/protos/configurations/payment_config/v2/account.proto
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

add import
  payments/protos/configurations/payment_config/v2/account.proto
Owners: @Kyosk-Digital/payments-squad

change status names
  payments/protos/configurations/payment_config/v2/account.proto
Owners: @Kyosk-Digital/payments-squad

added audit parameter
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

add service provider or bank name
  payments/protos/configurations/payment_config/v2/account.proto
Owners: @Kyosk-Digital/payments-squad

Add territory field
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

remove un-needed items
  payments/protos/configurations/payment_config/v2/account.proto
Owners: @Kyosk-Digital/payments-squad

add account type field
  payments/protos/configurations/payment_config/v2/account.proto
Owners: @Kyosk-Digital/payments-squad

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
