Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

add settlement list to enable fowarding to PR WF
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

modified bi_payment_request DP based on the changes from the original data product
  bi/protos/payments/bi_payment_request/v1/bi_payment_request.proto
Owners: @Kyosk-Digital/data-team

modified audit on promotion proto and added service file
  retail_exp/protos/promotion/discount/v1/promotion.proto
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

fixing wrong audit field import
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

adding KyoskFarm v1 DataProduct
  farm/protos/buf.yaml
  farm/protos/sourcing/agent/v1/agent_kyc.proto
  farm/protos/sourcing/agent/v1/service.proto
Owners: @Kyosk-Digital/data-team

refactor DP
  farm/protos/sourcing/agent/v1/agent_kyc.proto
  farm/protos/sourcing/agent/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update service.proto
  farm/protos/sourcing/agent/v1/service.proto
Owners: @Kyosk-Digital/data-team

added last_modified field
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

Add uom to the item on the dispatch movement command
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add stock uom field
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add stocking uom to the inventory item
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

update DP
  farm/protos/buf.yaml
  farm/protos/sourcing/agent/v1/agent_kyc.proto
  farm/protos/sourcing/agent/v1/service.proto
Owners: @Kyosk-Digital/data-team

Add caalog query message
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
Owners: @Kyosk-Digital/retail-experience

A
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
Owners: @Kyosk-Digital/retail-experience

Comments
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
Owners: @Kyosk-Digital/retail-experience

added last_modified field
  bi/protos/payments/bi_payment_request/v1/bi_payment_request.proto
Owners: @Kyosk-Digital/data-team

Filter values in the DP
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
Owners: @Kyosk-Digital/retail-experience

Clean version
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
Owners: @Kyosk-Digital/retail-experience

add cash payment type & delivery note name
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/cash/v1/service.proto
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

fix number
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

updated promotion data for promotion type and promotion item
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

modified territory ids and added promotion on enum
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

Add pagination to SO response
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add `default_currency` in country.proto
  erpnext/protos/geo/country/v1/country.proto
Owners: @Kyosk-Digital/ibs-squad

Added currency to of country proto
  order_fulfillment/protos/warehousing/country/v1/country.proto
Owners: @Kyosk-Digital/of_squad

updating status and customer segment
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

updating app from string to enum
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

fetching active promotions using territory id and catalog ids
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add the promotion audit message and rpc
  retail_exp/protos/promotion/discount/v1/promotion.proto
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

id field
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

Added cretedBy field
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add promotion update request
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

updated timestamp and audit imports
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add a type for the manual ERPNext to Kyosk Portal stock sync
  order_fulfillment/protos/warehousing/material_transfer/v1/material_transfer.proto
Owners: @Kyosk-Digital/of_squad

updating promotion statuses
  retail_exp/protos/promotion/discount/v1/promotion.proto
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

disable promotion rpc
  retail_exp/protos/promotion/discount/v1/promotion.proto
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

removed unused import
  retail_exp/protos/promotion/discount/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

retying payment request when user id is empty
  payments/protos/payments/payment_request/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

net selling amount
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

disocunt percentage
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience
