Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

defined BI Service Provider Data Product
  bi/protos/dispatch/bi_service_provider/v1/bi_service_provider.proto
Owners: @Kyosk-Digital/data-team

Rename `price_list` to `price_list_id` in ItemPrice
  erpnext/protos/stock/item_price/v1/item_price.proto
Owners: @Kyosk-Digital/ibs-squad

Add `uom` field to product_bundle.proto
  erpnext/protos/selling/product_bundle/v1/product_bundle.proto
Owners: @Kyosk-Digital/ibs-squad

updated assignments proto
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/driver_vehicle_assignment.proto
Owners: @Kyosk-Digital/of_squad

updated vehicle proto
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
Owners: @Kyosk-Digital/of_squad

defined Bi Market Developer Data Product
  bi/protos/market_mgt/bi_market_developer/v1/bi_market_developer.proto
Owners: @Kyosk-Digital/data-team

added catalog_id
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

item_id
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

Add configurable dispatch metrics fields and RPC calls
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

add rpc to handle cash payments
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Add additional fields to the day config message, add an update day config rpc
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Update field numbering
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

add CreditOrDebitCustomerLedgerResponseData for more descriptive response
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

updated driver proto
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
Owners: @Kyosk-Digital/of_squad

Catalog-Order-Cart sync session
  retail_exp/protos/merchandising/catalog/v1/catalog.proto
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/sales/order_catalog/v1/order_catalog.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
  retail_exp/protos/sales/sales_order/v1/sales_order_test.proto
Owners: @Kyosk-Digital/retail-experience

updated assignment proto
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/driver_vehicle_assignment.proto
Owners: @Kyosk-Digital/of_squad

Remove unused fields on the delivery trip, add a ref to the audit proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

Change start time and end time from strings to int values
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window.proto
Owners: @Kyosk-Digital/of_squad

Add a platform dependency in OF
  order_fulfillment/protos/buf.lock
  order_fulfillment/protos/buf.yaml
Owners: @Kyosk-Digital/of_squad

modify response data
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

modify response data
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Add pre-karuru fields on the delivery note and trip protos
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

update payload
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

add country to request payload
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add payment req to request payload
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Adding wallet and double entry transactions
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
  payments/protos/payments/wallet_type/v1/wallet_type.proto
  payments/protos/payments/wallet_type/v1/wallet_type_test.proto
Owners: @Kyosk-Digital/payments-squad

Invoke erpnext build
  erpnext/protos/setup/territory/v1/territory.proto
Owners: @Kyosk-Digital/ibs-squad

Trigger rexp build erpnext build
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

separate out services
  payments/protos/configurations/payment_config/v1/payment_config.proto
  payments/protos/configurations/payment_config/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add wallet DP
  payments/protos/payments/wallet/v1/wallet.proto
  payments/protos/payments/wallet_transaction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

setting up wallet
  payments/protos/payments/wallet/v1/wallet.proto
Owners: @Kyosk-Digital/payments-squad

adding dependencyon platform service utils
  payments/protos/buf.lock
  payments/protos/buf.yaml
  payments/protos/payments/wallet/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Migration status that was over looked.
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
Owners: @Kyosk-Digital/of_squad

updated driver proto
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
Owners: @Kyosk-Digital/of_squad

modifying transaction doc
  payments/protos/payments/wallet/v1/service.proto
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

add kyosk save data product
  vas/protos/bnpl/consumer_bnpl/v1/consumer_bnpl.proto
  vas/protos/bnpl/retailer_bnpl/v1/retailer_bnlp.proto
  vas/protos/kyc/kyc/v1/kyc_bnpl.proto
  vas/protos/kyosk-save/deposit/v1/deposit.proto
  vas/protos/kyosk-save/mpesa/v1/mpesa.proto
  vas/protos/kyosk-save/onboarding/v1/onboarding.proto
  vas/protos/kyosk-save/responses/v1/response.proto
  vas/protos/kyosk-save/user_account/v1/user_account.proto
  vas/protos/kyosk-save/withdrawal/v1/withdrawal.proto
Owners: @Kyosk-Digital/data-team

rename kyosk save dir
  vas/protos/kyosk_save/deposit/v1/deposit.proto
  vas/protos/kyosk_save/mpesa/v1/mpesa.proto
  vas/protos/kyosk_save/onboarding/v1/onboarding.proto
  vas/protos/kyosk_save/responses/v1/response.proto
  vas/protos/kyosk_save/user_account/v1/user_account.proto
  vas/protos/kyosk_save/withdrawal/v1/withdrawal.proto
Owners: @Kyosk-Digital/data-team

adding payment channel
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

changing wallet amounts to be in double
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad

cleanup
  payments/protos/payments/wallet_transaction/v1/wallet_transaction.proto
Owners: @Kyosk-Digital/payments-squad
