Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

add outlet id to wallet def
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

Added vehicle v2 object to assignments response
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object to assignments response
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object to assignments response
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object to assignments response
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object to assignments response
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Added field outlet_id to Sevi Order
  payments/protos/payment_integrations/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

Added vehicle v2 object to assignments response
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Added vehicle v2 object to assignments response
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Add dissasociate method to vehicle
  order_fulfillment/protos/dispatch/vehicle/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Create Kyosk Quotation data product
  kyosk-farm/protos/target_allocation/v1/kyosk_quotation.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

add comments to the proto files
  kyosk-farm/protos/target_allocation/v1/kyosk_quotation.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

add zone id
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
