Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

add uom to items to add
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/service.proto
Owners: @Kyosk-Digital/of_squad

add uom to items to add
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v1/service.proto
Owners: @Kyosk-Digital/of_squad

add b2c transactions queryResponse
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

create customer credits DP
  payments/protos/credit/customer_credits.v1/customer_credits.proto
  payments/protos/credit/customer_credits.v1/service.proto
Owners: @Kyosk-Digital/payments-squad

fixes
  payments/protos/credit/customer_credits.v1/customer_credits.proto
  payments/protos/credit/customer_credits.v1/service.proto
Owners: @Kyosk-Digital/payments-squad

fix paths
  payments/protos/credit/customer_credits/v1/customer_credits.proto
  payments/protos/credit/customer_credits/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add total count
  payments/protos/payment_integrations/mpesa/v1/b2c_service.proto
Owners: @Kyosk-Digital/payments-squad

Add the correct `mpesa_b2c` enum for the `payout`
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

Add new fields to payment entry command, to support kyosk farm payment entires
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

Add fetch pending orders endpoint
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add Zone data product
  order_fulfillment/protos/dispatch/zone/v1/service.proto
  order_fulfillment/protos/dispatch/zone/v1/zone.proto
Owners: @Kyosk-Digital/of_squad

Update Zone data product
  order_fulfillment/protos/dispatch/zone/v1/zone.proto
Owners: @Kyosk-Digital/of_squad

Added Zone methods
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add registration info
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

create service version 2
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Rename inputs
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Rename inputs
  order_fulfillment/protos/dispatch/zone/v1/zone.proto
Owners: @Kyosk-Digital/of_squad

Rename inputs
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Update `UpdateZoneCommand` inputs
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

fetch territory interwarehouse transfers
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v2/service.proto
Owners: @Kyosk-Digital/of_squad

add driver warehouse id
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v2/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

add driver warehouse id on the request
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v2/service.proto
Owners: @Kyosk-Digital/of_squad

Add delivery_window.proto and delivery_window_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/territory_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/window_config.proto
  order_fulfillment/protos/dispatch/zone/v1/service.proto
  order_fulfillment/protos/dispatch/zone/v1/zone.proto
Owners: @Kyosk-Digital/of_squad

Remove unused; Add Deactivate and Reactivate service methods
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/delivery_window_config.proto
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
Owners: @Kyosk-Digital/of_squad

feat: add creation and modified fields to Purchase Order data product
  erpnext/protos/buying/purchase_order/v1/purchase_order.proto
Owners: @Kyosk-Digital/ibs-squad

Add registration info
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add registration info
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add registration info
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add registration info
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

add-pezesha-data-product
  vas/protos/credit/pezesha/v1/pezesha.proto
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

query multiple active credits
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add-pezesha-data-product
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add-pezesha-data-product
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add-pezesha-data-product
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

kpv-2299-query-transactions
  payments/protos/credit/bulk_repayment/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add-pezesha-data-product
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add-pezesha-data-product
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Create Data Product for Selling prices for ERP to farm
  kyosk-farm/protos/price_listing/v1/price_listing.proto
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

add timestamp
  kyosk-farm/protos/price_listing/v1/price_listing.proto
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

update price listing proto
  kyosk-farm/protos/price_listing/v1/price_listing.proto
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
