Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

add Loan application response
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add Loan application response
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

update name from customer type to outlet group type
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

Add is credit Sale to DN
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

UNRECOGNIZED enum
  retail_exp/protos/pricing/delivery_fee_matrix/v1/delivery_fee_matrix.proto
Owners: @Kyosk-Digital/retail-experience

Fix conflicing enum
  retail_exp/protos/pricing/delivery_fee_matrix/v1/delivery_fee_matrix.proto
Owners: @Kyosk-Digital/retail-experience

Added agency banking data product output to kafka
  vas/protos/agency_banking/tanda/transaction/v1/transaction.proto
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

Added agency banking data product output to kafka
  vas/protos/agency_banking/tanda/transaction/v1/transaction.proto
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

add none
  retail_exp/protos/utils/v1/payment.proto
Owners: @Kyosk-Digital/retail-experience

Add `PEZESHA` to the payment_entry.proto
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

add Loan application response
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add response code and message to Buying Price
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Persist document id agent collection
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

Add update agent service
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

Add update agent service
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

added payment configuration data
  payments/protos/configurations/payment_config/v2/outlet_payment_configuration.proto
  payments/protos/configurations/payment_config/v2/payment_option.proto
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

added import for common
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add more settlement status
  payments/protos/credit/bulk_repayment/v1/bank_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Resolve lint
  payments/protos/configurations/payment_config/v2/service.proto
Owners: @Kyosk-Digital/payments-squad

Remove shared
  payments/protos/credit/credit/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

added date filter
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

added RECEIVING status to territory_inter_warehouse.proto
  order_fulfillment/protos/warehousing/territory_inter_warehouse/v2/territory_inter_warehouse.proto
Owners: @Kyosk-Digital/of_squad

added payment type on the payment request cmd
  payments/protos/payments/payment_request/v1/payment_request.proto
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

Remove response code from service responses
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Add payment_type to DN
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

remove array
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

deprecate the list
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Remove status from service responses
  order_fulfillment/protos/dispatch/delivery_windows/v2/service.proto
  order_fulfillment/protos/dispatch/zone/v1/service.proto
Owners: @Kyosk-Digital/of_squad

update for saleorder
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

fix same field
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

added fc project qty
  order_fulfillment/protos/warehousing/projected_qty/v1/projected_qty.proto
  order_fulfillment/protos/warehousing/projected_qty/v1/service.proto
Owners: @Kyosk-Digital/of_squad

feat: create v2 of dimension.proto
  platform/protos/common/shared/v2/dimension.proto
Owners: @Kyosk-Digital/data-team

feat: migrate to v2 of ProductBundle
  erpnext/protos/selling/product_bundle/v2/product_bundle.proto
Owners: @Kyosk-Digital/ibs-squad

feat: migrate to v2 of the product_bundle_test.proto
  erpnext/protos/selling/product_bundle/v2/product_bundle_test.proto
Owners: @Kyosk-Digital/ibs-squad

configure payment type
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/utils/v1/payment.proto
Owners: @Kyosk-Digital/retail-experience

feat: change 1 dir rule
  platform/protos/common/shared/v2/dimension.proto
Owners: @Kyosk-Digital/data-team

feat: migrate Dimension from v1 to v2
  platform/protos/common/shared/v2/dimension.proto
Owners: @Kyosk-Digital/data-team

added outlet type and payment option object
  payments/protos/configurations/payment_config/v2/outlet_payment_configuration.proto
Owners: @Kyosk-Digital/payments-squad

set fee matrix to DFM id
  retail_exp/protos/pricing/outlet_custom_price/v1/outlet_custom_price.proto
  retail_exp/protos/pricing/outlet_custom_price/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

outle id field fix
  retail_exp/protos/pricing/outlet_custom_price/v1/outlet_custom_price.proto
Owners: @Kyosk-Digital/retail-experience
