Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

Refactored FetchCustomerStatusResp
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

- Add SO pivot table
  retail_exp/protos/sales/sales_order_pivot/v1/sales_order_pivot.proto
Owners: @Kyosk-Digital/retail-experience

- Fix lint issue
  retail_exp/protos/market_mgt/outlet_type/v1/outlet_type.proto
  retail_exp/protos/market_mgt/outlet_type/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Added transaction booking handler
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Change order id to lower case
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

deleted bi_stock_balance data product
  bi/protos/dispatch/bi_stock_balance/v1/bi_stock_balance.proto
Owners: @Kyosk-Digital/data-team

added updated_on and fulfilment_center_id to the bi warehousing data product
  bi/protos/warehousing/bi_stock_balance/v1/bi_stock_balance.proto
Owners: @Kyosk-Digital/data-team

imported timestamp.proto
  bi/protos/warehousing/bi_stock_balance/v1/bi_stock_balance.proto
Owners: @Kyosk-Digital/data-team

change type to string
  payments/protos/payment_integrations/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

re-instate change
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add territory, sales order code and sevi order id
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Update stock_entry.proto
  erpnext/protos/stock/stock_entry/v1/stock_entry.proto
Owners: @Kyosk-Digital/ibs-squad

Update item and purchase_invoice proto files
  erpnext/protos/accounts/purchase_invoice/v1/purchase_invoice.proto
  erpnext/protos/stock/item/v1/item.proto
Owners: @Kyosk-Digital/ibs-squad

Renamed servic name
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

added more data product fields
  vas/protos/agency_banking/tanda/transaction/v1/transaction.proto
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

unify cmd, create an order dp for publishing to kafka
  payments/protos/payment_integrations/sevi/v1/service.proto
  payments/protos/payment_integrations/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

fix cmd name
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

add so code
  payments/protos/payment_integrations/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

add sevi payment method
  payments/protos/payments/payment_request/v1/payment_request.proto
Owners: @Kyosk-Digital/payments-squad

add order status
  payments/protos/payment_integrations/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

add order status
  payments/protos/payment_integrations/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

add audit
  payments/protos/payment_integrations/sevi/v1/sevi_payments.proto
Owners: @Kyosk-Digital/payments-squad

Remove unused data product
  payments/protos/payment_integrations/sevi/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Added payment channel
  payments/protos/erpnext/payment_entry/v1/payment_entry.proto
Owners: @Kyosk-Digital/payments-squad

Update purchase_receipt.proto
  erpnext/protos/stock/purchase_receipt/v1/purchase_receipt.proto
Owners: @Kyosk-Digital/ibs-squad

Add `purchase_order.proto`
  erpnext/protos/buying/purchase_order/v1/purchase_order.proto
Owners: @Kyosk-Digital/ibs-squad

More notification fields
  common-services/protos/buf.lock
  common-services/protos/notification/v3/notification.proto
  common-services/protos/notification/v3/notification_type.proto
Owners: @Kyosk-Digital/data-team

Fix outlet categories
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

added query GetAgentApplicationStatus for agents
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

added query GetAgentApplicationStatus for agents 1
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

Fetch countries
  retail_exp/protos/market_mgt/market/v1/market.proto
Owners: @Kyosk-Digital/retail-experience

- Fix route
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

- Fix route types
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

- Ping
  platform/protos/common/shared/v1/shared.proto
Owners: @Kyosk-Digital/data-team

- Fix buf lock file issue
  retail_exp/protos/buf.lock
  retail_exp/protos/market_mgt/route/v1/route.proto
Owners: @Kyosk-Digital/retail-experience

- Update of Dependencies
  order_fulfillment/protos/buf.lock
Owners: @Kyosk-Digital/of_squad

- erp fix
  erpnext/protos/buf.lock
Owners: @Kyosk-Digital/ibs-squad

Update purchase invoice proto file
  erpnext/protos/accounts/purchase_invoice/v1/purchase_invoice.proto
Owners: @Kyosk-Digital/ibs-squad

update changes
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

update changes
  vas/protos/agency_banking/tanda/v1/agent.proto
Owners: @Kyosk-Digital/data-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
