Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

correct field number
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

modified bi_delivery_trip data product from the changes in the original data product
  bi/protos/dispatch/bi_delivery_trip/v1/bi_delivery_trip.proto
Owners: @Kyosk-Digital/data-team

updated .vscode folder
  .vscode/settings.json
Owners: @Kyosk-Digital/data-team

modified bi_sales_order data product, added the territory side input
  bi/protos/sales/bi_sale_order/v1/bi_sale_order.proto
Owners: @Kyosk-Digital/data-team

- Add extra statuses to the delivery trip - Add audit to the commands
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
  order_fulfillment/protos/dispatch/driver/v1/service.proto
  order_fulfillment/protos/dispatch/driver_vehicle_assignment/v1/driver_vehicle_assignment.proto
  order_fulfillment/protos/dispatch/service_provider/v1/service_provider.proto
  order_fulfillment/protos/dispatch/vehicle/v1/vehicle.proto
Owners: @Kyosk-Digital/of_squad

- Add query endpoint to fetch stk request record - Delete `flutterwave` and `dpo` protos, since they aren't being used as of now.
  payments/protos/payment_integrations/dpo/v1/dpo.proto
  payments/protos/payment_integrations/flutterwave/v1/flutterwave.proto
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

Add DT movement statuses to the material transfer proto file
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

immediate response after pay with credit request has been received
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

fix stk query import
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

removed unused import
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

add payment req id to collections dp
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

add payment req id to collections dp
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

- Modify the response body when query endpoint to fetch stk request record
  payments/protos/payment_integrations/mpesa/v1/stk_service.proto
Owners: @Kyosk-Digital/payments-squad

Added proto for wallet correction data product
  payments/protos/payments/wallet_correction/v1/service.proto
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

Add a command for the movement to driver WH and reset movements
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Added some comments
  payments/protos/payments/wallet_correction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Renamed fields
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

fix 'int -> double' in amounts, add ref to initiate cash payment cmd
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

fix 'int -> double' in amounts, add ref to initiate cash payment cmd
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

fix 'int -> double' in amounts, add ref to initiate cash payment cmd
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

fix 'int -> double' in amounts, add ref to initiate cash payment cmd
  payments/protos/payments/cash/v1/cash_payments.proto
Owners: @Kyosk-Digital/payments-squad

dummy commit to trigger build
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Updated delivery_window_test.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window_test.proto
Owners: @Kyosk-Digital/of_squad

Updated delivery_window_test.proto
  order_fulfillment/protos/dispatch/delivery_windows/v1/delivery_window_test.proto
Owners: @Kyosk-Digital/of_squad

refactor paybill proto
  payments/protos/payment_integrations/mpesa/v1/paybill_service.proto
Owners: @Kyosk-Digital/payments-squad

refactor paybill proto
  payments/protos/payment_integrations/mpesa/v1/paybill_service.proto
Owners: @Kyosk-Digital/payments-squad

Data Product References Removal erpnext & orderfullfillment
  retail_exp/protos/buf.lock
  retail_exp/protos/buf.yaml
  retail_exp/protos/merchandising/category/v1/service.proto
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/sales/delivery_window/v1/delivery_window.proto
Owners: @Kyosk-Digital/retail-experience

Renamed fields
  payments/protos/payments/wallet_correction/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Change data type for id
  payments/protos/payments/wallet_correction/v1/wallet_correction.proto
Owners: @Kyosk-Digital/payments-squad

adding paybill validation service
  payments/protos/payment_integrations/mpesa/v1/paybill_service.proto
Owners: @Kyosk-Digital/payments-squad

- Remove the ERPNext import on OF and update the buf.yml file - Remove the generic api proto file
  order_fulfillment/protos/buf.lock
  order_fulfillment/protos/buf.yaml
  order_fulfillment/protos/common/generic_apis/v1/generic_apis.proto
Owners: @Kyosk-Digital/of_squad

- Fix linting errors
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

Build OF data products
  order_fulfillment/protos/warehousing/fulfillment_center/v1/fulfillment_center.proto
Owners: @Kyosk-Digital/of_squad

adding paybill validation request
  payments/protos/payment_integrations/mpesa/v1/paybill_service.proto
Owners: @Kyosk-Digital/payments-squad

adding paybill validation request
  payments/protos/payment_integrations/mpesa/v1/paybill_service.proto
Owners: @Kyosk-Digital/payments-squad

- Add credit approval data product, to be used in credit validation process
  payments/protos/credit/credit_transaction/v1/credit_transaction.proto
Owners: @Kyosk-Digital/payments-squad

Add market developer sales summary
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add RPC calls
  order_fulfillment/protos/warehousing/material_transfer/v1/service.proto
Owners: @Kyosk-Digital/of_squad

- Add a FieldType enum and field to the query proto
  platform/protos/common/query/v1/query.proto
Owners: @Kyosk-Digital/data-team

Add market developer sales summary
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
