Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience

Add fields to update outlet request
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add fields to update outlet request
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

role to cp
  retail_exp/protos/market_mgt/commercial_partner/v1/commercial_partner.proto
Owners: @Kyosk-Digital/retail-experience

recreate the image
  retail_exp/protos/market_mgt/commercial_partner/v1/commercial_partner.proto
Owners: @Kyosk-Digital/retail-experience

add role to cp
  retail_exp/protos/market_mgt/commercial_partner/v1/commercial_partner.proto
Owners: @Kyosk-Digital/retail-experience

role dp
  retail_exp/protos/market_mgt/commercial_partner/v1/service.proto
Owners: @Kyosk-Digital/retail-experience

Add pezesha wallet booking data product
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Add pezesha wallet booking data product
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add rejection reason and approval stage
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

updates
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Added Kyosk farm service name
  vas/protos/kyosk_kyc/kyc/v2/kyc.proto
Owners: @Kyosk-Digital/data-team

Change ProduceType to ProduceOrdered
  kyosk-farm/protos/price_listing/v1/price_listing.proto
  kyosk-farm/protos/price_listing/v1/service.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

Add loan-id on loan application response
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add customer to Price Listing
  kyosk-farm/protos/price_listing/v1/price_listing.proto
  kyosk-farm/protos/price_listing/v1/service.proto
Owners: @Kyosk-Digital/data-team

Update target.proto
  kyosk-farm/protos/target_allocation/v1/target.proto
Owners: @Kyosk-Digital/data-team

Add loan-id on loan application response
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add objectId in pezesha dp
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

fix datatype error
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Add loan-id on loan application response
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

updat pezesha loan request
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

update pezesha loan status request
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

update pezesha loan status request
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Add parent_territory & is_group fields in Territory data product
  erpnext/protos/setup/territory/v1/territory.proto
Owners: @Kyosk-Digital/ibs-squad

Added call back data products
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

Add outlet assignment endpoint
  retail_exp/protos/market_mgt/customer_draft/v1/customer_draft.proto
  retail_exp/protos/market_mgt/market/v1/market.proto
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

Add language and country services
  common-services/protos/metadata/country/v1/service.proto
  common-services/protos/metadata/language/v1/service.proto
Owners: @Kyosk-Digital/data-team

Add kyosk_supplier_id field in Supplier Data Product
  erpnext/protos/buying/supplier/v1/supplier.proto
Owners: @Kyosk-Digital/ibs-squad

Kpv-2486-payout-approval
  payments/protos/payments/payout/v1/payout.proto
Owners: @Kyosk-Digital/payments-squad

is promotion active
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

add UpdateAgentTarget service to Agent Target Allocation
  kyosk-farm/protos/target_allocation/v1/service.proto
Owners: @Kyosk-Digital/data-team

new fields from delivery window
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/sales/delivery_window/v1/delivery_window.proto
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

deploy promotion
  retail_exp/protos/promotion/discount/v1/promotion.proto
Owners: @Kyosk-Digital/retail-experience

add get user registration service
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add get user registration service
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

new fields from delivery window
  retail_exp/protos/sales/delivery_window/v2/delivery_window.proto
Owners: @Kyosk-Digital/retail-experience

new fields from delivery window
  retail_exp/protos/sales/cart/v1/cart.proto
  retail_exp/protos/sales/delivery_window/v1/delivery_window.proto
Owners: @Kyosk-Digital/retail-experience

additional erp_id field for service provider
  order_fulfillment/protos/dispatch/service_provider/v1/provider.proto
Owners: @Kyosk-Digital/of_squad

fix pagination path
  vas/protos/credit/pezesha/v1/pezesha.proto
Owners: @Kyosk-Digital/data-team

add v1 dir
  vas/protos/pagination/cursor_based/v1/cursor_based_pagination.proto
Owners: @Kyosk-Digital/data-team

add dp for cursor based pagination
  vas/protos/credit/pezesha/v1/pezesha.proto
  vas/protos/pagination/cursor_based/cursor_based_pagination.proto
Owners: @Kyosk-Digital/data-team
