Repository peter-oziegbe/kyosk-dataproducts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kyosk-Digital/data-team, @Kyosk-Digital/ibs-squad, @Kyosk-Digital/of_squad, @Kyosk-Digital/payments-squad, @Kyosk-Digital/retail-experience

updates
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

fetch cart update respone
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

fetch cart updates
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

updates'
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

change qty to int32
  retail_exp/protos/sales/cart/v1/cart.proto
Owners: @Kyosk-Digital/retail-experience

add UserTillEntryCmdResponse
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

remove lint errors
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

move mpesa upload to Till proto
  payments/protos/payment_integrations/mpesa/v1/service.proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

Update SO
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Update SO
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Use the query proto on the generics api proto
  erpnext/protos/setup/territory/v1/warehouse_generic_apis.proto
Owners: @Kyosk-Digital/ibs-squad

Use the query proto on the generics api proto
  order_fulfillment/protos/common/generic_apis/v1/generic_apis.proto
Owners: @Kyosk-Digital/of_squad

unstage the erpnext changes
  erpnext/protos/setup/territory/v1/warehouse_generic_apis.proto
Owners: @Kyosk-Digital/ibs-squad

modified test data product for payment request
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

modified return type for test payment request
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

refatcored test proto for payment request
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

comments on SO
  retail_exp/protos/sales/sales_order/v1/sales_order.proto
Owners: @Kyosk-Digital/retail-experience

Add extra fields
  common-services/protos/auth/user/v1/model.proto
Owners: @Kyosk-Digital/data-team

Fixed payment_request_test.proto
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

add audit field
  common-services/protos/auth/user/v1/model.proto
  common-services/protos/common/audit/v1/audit.proto
Owners: @Kyosk-Digital/data-team

Added more fields for capturing wallet owner details
  payments/protos/payments/wallet/v1/wallet.proto
Owners: @Kyosk-Digital/payments-squad

Resolved lint issue
  payments/protos/payments/wallet/v1/wallet.proto
Owners: @Kyosk-Digital/payments-squad

DN refactor
  order_fulfillment/protos/buf.lock
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note_test.proto
  platform/protos/common/general/v1/async.proto
Owners: @Kyosk-Digital/of_squad, @Kyosk-Digital/data-team

add cash payments grpc service def
  payments/protos/payments/cash/v1/cash_payments.proto
  payments/protos/payments/cash/v1/service.proto
Owners: @Kyosk-Digital/payments-squad

Added payment_request_test.proto
  payments/protos/payments/payment_request/v1/payment_request.proto
  payments/protos/payments/payment_request/v1/payment_request_command_test.proto
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

use Audit proto from platform
  common-services/protos/common/audit/v1/audit.proto
Owners: @Kyosk-Digital/data-team

adding dN service file
  order_fulfillment/protos/dispatch/delivery_note/v1/service.proto
Owners: @Kyosk-Digital/of_squad

refactor DT
  order_fulfillment/protos/buf.lock
  order_fulfillment/protos/dispatch/delivery_trip/v1/delivery_trip.proto
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
  order_fulfillment/protos/dispatch/driver/v1/driver.proto
  order_fulfillment/protos/dispatch/driver/v1/service.proto
  platform/protos/common/audit/v1/status_change.proto
Owners: @Kyosk-Digital/of_squad, @Kyosk-Digital/data-team

refactor DT
  order_fulfillment/protos/dispatch/delivery_trip/v1/service.proto
Owners: @Kyosk-Digital/of_squad

refactor movements
  order_fulfillment/protos/warehousing/stock_movement/v1/service.proto
Owners: @Kyosk-Digital/of_squad

deduplicate audit fields in user dp
  common-services/protos/auth/user/v1/model.proto
  common-services/protos/buf.yaml
Owners: @Kyosk-Digital/data-team

Removed `payment_request_command_test.proto`
  payments/protos/payments/payment_request/v1/payment_request_command_test.proto
  payments/protos/payments/payment_request/v1/payment_request_test.proto
Owners: @Kyosk-Digital/payments-squad

modified the bi_payment_request data product based on the changes on the original payment_request data product
  bi/protos/payments/bi_payment_request/v1/bi_payment_request.proto
Owners: @Kyosk-Digital/data-team

adding field to track item qty
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

add original field
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

buf mod update
  common-services/protos/buf.lock
Owners: @Kyosk-Digital/data-team

Add the erp_id from customer in erp
  retail_exp/protos/market_mgt/outlet/v1/outlet.proto
Owners: @Kyosk-Digital/retail-experience

add reschedule flad on DN
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

add reschedule flad on DN
  order_fulfillment/protos/dispatch/delivery_note/v1/delivery_note.proto
Owners: @Kyosk-Digital/of_squad

move mpesa upload to Till proto
  payments/protos/payment_integrations/mpesa/v1/till_service.proto
Owners: @Kyosk-Digital/payments-squad

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Kyosk-Digital/data-team will be requested for
# review when someone opens a pull request.
*               @Kyosk-Digital/data-team 

/ibs/                           @Kyosk-Digital/ibs-squad
/erpnext/                       @Kyosk-Digital/ibs-squad
/order_fulfillment/             @Kyosk-Digital/of_squad
/payments/                      @Kyosk-Digital/payments-squad
/retail_exp/                    @Kyosk-Digital/retail-experience
